<% if survey_version.errors.any? %>
  <h3>There were errors updating the survey</h3>
<% end -%>

<% survey_version.pages.includes(:survey_elements => :assetable).order("pages.page_number asc").each do |page| %>

  <div class="page" id="page_<%=page.page_number%>">
    <div class="page_arrows">
      <%= page_order_links(survey_version.survey, survey_version, page) unless survey_version.locked? %>
    </div>
    <span class="page_number">Pg. <%= page.page_number %></span>
    <span class="page_next">
    <% unless is_last_page(page) || survey_version.locked? %>
      <%= label_tag "next_page_#{page.page_number}", "Control flow to: " %>
      <%= select_for_next_page(page) %>
    <% end %>
    </span>
    <span class="page_mngmnt">
      <%= page_management_links(survey_version.survey, survey_version, page) unless survey_version.locked? %>
    </span>

    <ul class="outter">
      <% question_number = 0 %>
      <% for element in page.survey_elements.order(:element_order) %>

        <li class="outter">
          <div class="page_asset">
            <div class="asset_mngmnt">
              <%= element_order_links(survey_version.survey, survey_version, element) unless survey_version.locked? %>
              <%= element_edit_link(survey_version.survey, survey_version, element)%>
            </div>

            <div class="asset_content">
              <% if element.assetable_type != 'Asset'  %>
                <% question_number =+ question_number + 1  %>
                <%= "#{question_number}." %>
              <% end %>

              <span class="survey_element" id="element_<%= element.element_order%>">
                <%= element.assetable.statement %>
                <%= "*" if element.assetable.try(:required) %>
              </span>
            </div>

            <div class="asset_delete">
              <span><%= element.assetable.answer_type.titleize %></span>
              <% if element.assetable_type == "ChoiceQuestion" &&
                element.assetable.question_content.flow_control? %>
                <span class="minus-space">,<span><span class="notation">Contains Flow Control</span>
              <% end %>

              <%= element_delete_link(survey_version.survey, survey_version, element) unless survey_version.locked? %>
            </div>

            <div class="asset_body">
              <% if element.assetable_type == "ChoiceQuestion" %>
                <ol class="inner">
                  <% for answer in element.assetable.choice_answers %>
                  <li class="inner">
                    <%= answer.answer %>

                    <% if answer.choice_question.flow_control? && answer.page.present? %>
                      <span class="extra">Flows to Pg. <%= answer.page.page_number %></span>
                    <% end %>

                    <% if answer.is_default? %>
                      <span class='extra'>Default</span>
                    <% end -%>
                  </li>
                  <% end -%>
                </ol>
              <% elsif element.assetable_type == "MatrixQuestion" %>
                <div>
                  <div class="italic">Questions (rows):</div>
                  <ol class="inner">
                    <% element.assetable.rows.each do |row_header| %>
                    <li class="inner">
                      <%= row_header.question_content.statement %>
                      <% if row_header.question_content.required? %>
                        <span class='extra'>Required</span>
                      <% end -%>
                    </li>
                    <% end -%>
                  </ol>
                </div>
                <br />
                <div>
                  <div class="italic">Radio Options (columns):</div>
                  <ol class="inner">
                    <% element.assetable.column_headers.each do |column_header| %>
                    <li class="inner">
                      <%= column_header%>
                    </li>
                    <% end %>
                  </ol>
                </div>
              <% end # close the if statements %>
            </div>
          </div>

        </li>
      <% end # close the for loop %>
      </ul>

    <%= render 'shared/add_element_links', :survey_version => survey_version, :page_id => page.id %>
  </div>

<% end %>

<% if survey_version.pages.count == 0 %>
  <%= render 'shared/add_element_links', :survey_version => survey_version %>
<% end %>



