<p class="copyBoldMargin">Questions:</p>

<% for page in survey_version.pages.order("pages.page_number asc") %>
	<div class="page" id="page_<%=page.page_number%>">
		<span class="copyBold">Page <%= page.page_number %></span>
			<%= page_management_links(survey_version.survey, survey_version, page) %>
		<ol class="outter">
		<% for element in page.survey_elements.order("element_order asc") %>
			<li class="outter">
				<span class="survey_element" id="element_<%= element.element_order%>"><%= element.assetable.statement %> 
				<%= "*" if element.assetable.required %> (<%= element.assetable.answer_type %>)</span>
				<%= element_management_links(survey_version.survey, survey_version, element)%>
				<% if element.assetable_type == "ChoiceQuestion" %>
						<ol class="inner">
							<% for answer in element.assetable.choice_answers %>
							<li class="inner"><%= answer.answer %></li>
							<% end -%>
						</ol>
				<% elsif element.assetable_type == "MatrixQuestion" %>
						<table>
							<tr>
								<th></th>
								<% for column_header in element.assetable.choice_questions.first.choice_answers do %>
								 <th><%= column_header.answer %></th>
								<% end -%>
							</tr>
							<% for row_header in element.assetable.choice_questions do %>
							  <tr>
							  	<td><%= row_header.question_content.statement%></td>
									<% row_header.choice_answers.each do |a| %>
									  <td><%= radio_button_tag "empty", a.answer, false, :disabled => true %></td>
									<% end %>
							  </tr>
							<% end -%>
						</table>
				<% end # close the if statements %>	
				
			</li>		
		<% end # close the for loop %>
		</ol>
	</div>
<% end %>

<%= render 'add_element_links', :survey_version => survey_version %>
<%= render 'modals', :survey_version => survey_version %>

