<p class="pageTitle">Edit Survey</p>

<% javascript 'survey_builder.js' %>

<%= flash_messages(flash) %>

<p class="copy">
  <span class="copyBold">Name:</span>
  <%= @survey.name %>
</p>

<p class="copyBoldMargin">
  Description:
  <span class="copy"><%= @survey.description %></span>
</p>

<p class="copyBoldMargin">
  Type:
  <span class="copy"><%= @survey.survey_type.name.capitalize %></span>
</p>

<div id="survey_versions_fields" >
	<p class="copyBoldMargin">
		Version:
		<span class="copy">	
			<%= @survey_version.major %>.
			<%= @survey_version.minor %>
		</span>
	</p>
	<p class="copyBoldMargin">
		Published:
		<span class="copy"><%= @survey_version.published ? "Yes" : "No" %></span>
	</p>
</div>

<div id="overlay_container">
  <div id="question_list">
  	<%= render :partial => 'question_list', :locals => {:survey_version => @survey_version, :survey => @survey} %>
  </div>
  <div id="spinner_overlay"><img src='/images/ajax-loader.gif' id='ajax_spinner_question_list'/></div>
</div>

<div class="pageNav">
  <%= link_to "Preview Survey", survey_survey_version_path(@survey, @survey_version), :class=>"pageNav" %> | 
	<%= link_to 'Publish', publish_survey_survey_version_path(@survey, @survey_version), :confirm => 'Are you sure?', :class => "pageNav" %> | 
  <%= link_to 'View All Versions', survey_survey_versions_path(@survey), :class=>"pageNav" %>
</div>