<h1>Edit Custom Thank You Page</h1>

<%= form_for [@survey, @survey_version] do |f| %>
  <div>
    <%= f.label :thank_you_page, "Thank You Page:" %><br/>
    <%= f.text_area :thank_you_page, class: "thankYouPageArea" %>
  </div>

  <div><%= f.submit "Update Thank You Page" %></div>
<% end %>

<p><%= link_to "Cancel", survey_survey_versions_path(@survey) %></p>