<h1>Survey Versions</h1>

<%= flash_messages(flash) %>

<div id="surveys">
  <div class="left_side">
    Site:
  </div>
  <div class="right_side">
    <p class="blue"><%= @survey.site.name.titleize %></p>
  </div>
  <br />
  <div class="left_side">
    Survey:
  </div>
  <div class="right_side">
    <p class="blue"><%= @survey.name.titleize %></p>
  </div>
  <br />
  <div class="left_side">
    Description:
  </div>
  <div class="right_side">
    <p><%= @survey.description %></p>
  </div>
  <br />
  <div class="left_side">
    Import Survey Version:
  </div>
  <div class="right_side">
    <%= form_tag survey_import_survey_version_path(@survey) , multipart: true do %>
      <%= file_field_tag :file, accept: "application/json" %>
      <%= submit_tag "Import" %>
      <% hidden_field_tag 'survey_id', @survey.id %>
    <% end %>
  </div>
  <div>
    <%= link_to "Survey Test Tool", preview_surveys_path %>
  </div>
</div>

<div class="pageNav">
  <%= link_to "New Version",
    create_new_major_version_survey_survey_versions_path(@survey),
    :class => "newlink" %>
  <%= link_to "View All Surveys", surveys_path, :class => "manage" %>
</div>

  <table id="versionTable">
    <tr>
      <th class="col1" scope="col">Edit</th>
      <th class="col2-3" scope="col" colspan="2">
        <%= sortable("major, minor", "Survey Version") %>
      </th>
      <th class="col4" scope="col">Export Responses</th>
      <th class="col4" scope="col">Export Survey</th>
      <th class="col5" scope="col">Thank You Page</th>
      <th class="col6" scope="col">Notes</th>
      <th class="col7" scope="col">Published</th>
      <th class="col8" scope="col">Created By</th>
      <th class="col9" scope="col"><%= sortable "created_at", "Created" %></th>
      <th class="col10" scope="col"><%= sortable "updated_at", "Updated" %></th>
      <th class="col11-12" scope="col" colspan="2"></th>
    </tr>
    <% for version in @survey_versions %>
    <tr class="<%= cycle('gray','white') %>">
      <td class="col1">
        <% if version.locked? && !version.published? %>
         <%= image_tag "locked.png", :alt=>"locked" %>
        <% else %>
          <%= link_to image_tag("edit.png", :alt=>"edit"),
            edit_survey_survey_version_path(@survey, version) %>
        <% end -%>
      </td>
      <td class="col2"><%= version.version_number %></td>
      <td class="col3">
        <%= link_to @survey.name.titleize, survey_survey_version_path(@survey, version) %>
      </td>
      <td class="col4">
        <%= link_to "csv", export_csv_survey_responses_path(:survey_version_id => version),
          :remote => true %>
        &nbsp;
        <%= link_to "xls", export_xls_survey_responses_path(:survey_version_id => version),
          :remote => true %>
      </td>
      <td class="col4">
        <%= link_to "json",
          export_survey_survey_survey_versions_path(:survey_version_id => version),
          :remote => false  %>
      </td>
      <td class="col5">
        <%= link_to image_tag("edit.png", :alt=>"edit thank you page"),
          [:edit_thank_you_page, @survey, version] %>
      </td>
      <td class="col6">
        <%= link_to image_tag("edit.png", :alt=>"edit notes"),
          [:edit_notes, @survey, version] %>
      </td>
      <td class="col7">
        <% if version.published %>
          <%= link_to image_tag("published.png", :alt=>"published"),
            unpublish_survey_survey_version_path(@survey, version),
            data: {
              confirm: "Are you sure you wish to remove this survey from the public site"
            } %>
        <% else %>
          <%= link_to image_tag("not_published.png", :alt=>"not published"),
            publish_survey_survey_version_path(@survey, version),
            data: { confirm:  "Are you sure?" } %>
        <% end %>
      </td>
      <td class="col8"><%= version.created_by.try(:fullname) %></td>
      <td class="col9"><%= version.created_at.strftime("%m/%d/%Y") %></td>
      <td class="col10"><%= version.updated_at.strftime("%m/%d/%Y %H:%M:%S") %></td>
      <td class="col11">
        <%= link_to image_tag("clone.png", :alt=>"Clone Survey"),
          clone_survey_survey_version_path(@survey, version),
          data: { confirm: "Are you sure you wish to clone this version" },
          :class=>"copyLink"  %>
      </td>
      <td class="col12">
        <%= link_to image_tag("delete.png", :alt=>"Delete"),
          survey_survey_version_path(@survey, version),
          data: { confirm: 'Are you sure?' }, :method => :delete,
          :class=>"deleteLink" %>
      </td>
    </tr>


    <% end %>
  </table>

  <%= paginate @survey_versions %>

  <div class="pageNav">
    <%= link_to "New Version", create_new_major_version_survey_survey_versions_path(@survey), :class => "newlink" %>
    <%= link_to "View All Surveys", surveys_path, :class => "manage" %>
  </div>

<div id="survey_info">
  <div class="top_side">
    IFRAME Instructions:
  </div>
  <div class="bottom_side">
    <p>To link to published survey version, use: <%= "<iframe src=\"http://#{APP_CONFIG['public_host']}/surveys/#{@survey.id}\"></iframe>"%></p>
  </div>
  <div class="top_side">
    Javascript Widget Instructions:
  </div>
  <div class="bottom_side">
    <p>1. Add an empty DIV element and define an ID attribute; for example:</p>
    <pre>&lt;div id="survey_target"&gt;&lt;/div&gt;</pre>

    <p>2. Immediately after the new DIV, add the following for users without JavaScript (the IFRAME version):</p>
    <pre>&lt;noscript&gt;
  <%= "<iframe src=\"http://#{APP_CONFIG['public_host']}/surveys/#{@survey.id}\"></iframe>"%>
&lt;/noscript&gt;</pre>

    <p>3. Add this line to your JavaScript includes, ensuring the target_id parameter matches the DIV ID attribute:</p>
    <pre><%= "<script type=\"text/javascript\"
        src=\"http://#{APP_CONFIG['public_host']}/widget/widget.js?survey_id=#{@survey.id}&target_id=survey_target\"></script>" %>
    </pre>
  </div>
  <div class="top_side">
    Invitation Pop-up Instructions:
  </div>
  <div class="bottom_side">
    <p>1. Add an empty DIV element and define an ID attribute; for example:</p>
    <pre>&lt;div id="survey_target"&gt;&lt;/div&gt;</pre>

    <p>2. Immediately after the new DIV, add the following for users without JavaScript (the IFRAME version):</p>
    <pre>&lt;noscript&gt;
  <%= "<iframe src=\"http://#{APP_CONFIG['public_host']}/surveys/#{@survey.id}\"></iframe>"%>
&lt;/noscript&gt;</pre>

    <p>3. Add this line to your JavaScript includes, ensuring the target_id parameter matches the DIV ID attribute:</p>
    <pre><%= "<script type=\"text/javascript\"
        src=\"http://#{APP_CONFIG['public_host']}/widget/invitation.js?survey_id=#{@survey.id}&target_id=survey_target\"></script>" %>
    </pre>

    <% unless ENV['USE_START_PAGE'].present? %>
      <p>
        On acceptance of the survey invitation, the survey may either be shown in a new window (default)
        or shown in a modal on the current page.  To show the survey in a modal on the current page,
        set the "modal" url parameter to true in the invitation script tag as shown below.
      </p>
      <pre><%= "<script type=\"text/javascript\" src=\"http://#{APP_CONFIG['public_host']}/widget/invitation.js?survey_id=#{@survey.id}&target_id=survey_target&modal=true\"></script>" %>
      </pre>
    <% end %>
  </div>
</div>
