<p class="pageTitle"><%= @survey.name.titleize %> Versions</p>
<div class="pageNav-upper">
	<%= link_to "New Version", create_new_major_version_survey_survey_versions_path(@survey), :class => "pageNav" %>
</div>
<p id="notice"><%= notice %></p>

<table id="versionTable">
	<tr>
		<th>Version</th>
		<th>Published</th>
		<th colspan="5">Created At</th>
	</tr>
	<% for version in @survey_versions %>
	<tr class="<%= cycle('white','blue') %>">
		<td class="col1-2"><%= version.version_number %></td>
		<td class="col1-2"><%= version.published ? "Yes" : "No" %></td>
		<td class="col3"><%= version.created_at %></td>
		<td class="col4-7"><%= link_to 'Show', survey_survey_version_path(@survey, version) %></td>
		<td class="col4-7"><%= link_to 'Edit', edit_survey_survey_version_path(@survey, version) %></td>
		<td class="col4-7"><%= link_to 'Destroy', survey_survey_version_path(@survey, version), :confirm => 'Are you sure?', :method => :delete %></td>
		<td class="col4-7"><%= link_to 'Publish', publish_survey_survey_version_path(@survey, version), :confirm => 'Are you sure?' %></td>
	</tr>
	<% end %>
</table>

<div class="pageNav">
	<%= link_to "New Version", create_new_major_version_survey_survey_versions_path(@survey), :class => "pageNav" %>
</div>
