<p class="pageTitle">Preview Survey</p>

<% javascript 'survey.js' %>

<% if @survey_version.nil? %>
	<p>Could not find version <%= params[:version] %></p>
	<%= link_to "View all", survey_path(@survey) %>
<% else %>
  <%= flash_messages(flash) %>

	<p class="copy">
	   <span class="copyBold">Name:</span>
	  <%= @survey.name %>
	</p>

	<p class="copyBoldMargin">
		Description:
	  <span class="copy"><%= @survey.description %></span>
	</p>
	
	<p class="copyBoldMargin">
	  Type:
	  <span class="copy"><%= @survey.survey_type.name.capitalize %></span>
	</p>
	
	<div id="survey_versions_fields" >
		<p class="copyBoldMargin">
			Version:
			<span class="copy">
				<%= @survey_version.major %>.
				<%= @survey_version.minor %>
			</span>
		</p>
		<p class="copyBoldMargin">
			Published:
			<span class="copy"><%= @survey_version.published ? "Yes" : "No" %></span>
		</p>
	</div>


	<%= form_tag url_for(:controller => "survey_responses", :action => "create") do %>
	  <% index = 0 %>
		<% for page in @survey_version.pages.includes(:survey_version) %>

			<div class="<%= page.page_number == 1 ? 'current_page' : 'hidden_page' %>" id="page_<%=page.page_number%>">
	      <%= hidden_field_tag :next_page, page.next_page.try(:page_number), :id => "page_#{page.page_number}_next_page" %>
				<%= hidden_field_tag :prev_page, page.prev_page.try(:page_number), :id => "page_#{page.page_number}_prev_page" %>
				<%= hidden_field_tag "survey_version_id", @survey_version.id %>
				<ul class="showList">
				<% question_number = 0 %>
				<% page.elements_with_includes.each do |element| %>
					
					<li class="outter">
						<% if element.assetable_type != 'Asset'  %>
							<% question_number =+ question_number + 1  %>
							<%= "#{question_number}." %>
						<% end %>
						<% if element.assetable_type == "MatrixQuestion" %>
							<%= element.assetable.statement %>
							<table>
					            <tr>
					              <th></th>
					              <% for column_header in element.assetable.column_headers do %>
					               <th><%= column_header %></th>
					              <% end -%>
					            </tr>
					            <% for row_header in element.assetable.rows do %>
					              <tr>
					                <td><%= row_header.question_content.statement%></td>
					                <% element.assetable.choice_questions.first.choice_answers.each do |a| %>
										<td>
											<%= hidden_field_tag "response[raw_responses_attributes][#{index}][question_content_id]", row_header.question_content.id %>
			                      			<%= hidden_field_tag "#{row_header.question_content.id}_required", row_header.question_content.required, :class => "required_question" %>
					                  		<%= radio_button_tag "response[raw_responses_attributes][#{index}][answer]", a.id, false %>
										</td>
					                <% end %>
					              </tr>
								  <% index = index + 1%>
					            <% end -%>
					          </table>
						<% elsif element.assetable_type != "Asset" %>
							<%= hidden_field_tag "response[raw_responses_attributes][#{index}][question_content_id]", element.assetable.question_content.id %>
							<%= hidden_field_tag "#{element.assetable.question_content.id}_required", element.assetable.question_content.required, :class => "required_question" %>
							
							<%= element.assetable.question_content.statement %>
							<%= "*" if element.assetable.question_content.required%><br/>
							<% if element.assetable_type == "ChoiceQuestion" %>
								<% if element.assetable.answer_type == ChoiceAnswer::RADIO %>
									<% for answer in element.assetable.choice_answers %>
										<%= radio_button_tag "response[raw_responses_attributes][#{index}][answer]", answer.id, false,
                      						:onclick => (element.assetable.question_content.flow_control ? 
											"set_next_page(#{page.page_number}, #{answer.page.try(:page_number) || (element.page.page_number + 1)})" : "Empty")%>
										<%= answer.answer%><br/>
									<% end -%>
									
								<% elsif element.assetable.answer_type == ChoiceAnswer::DROPDOWN %>
									<%= select_tag "response[raw_responses_attributes][#{index}][answer]", 
										options_for_select(element.assetable.choice_answers.collect {|a| [a.answer, a.id]}), 
										:include_blank => true, :onchange => generate_next_page_on_change(element) %>
								<% elsif element.assetable.answer_type == ChoiceAnswer::MULTISELECT %>
								  <%= select_tag "response[raw_responses_attributes][#{index}][answer][]",
								 		options_from_collection_for_select(element.assetable.choice_answers, "id", "answer"), :multiple => true, :style => "width: 100px" %>
								<% elsif element.assetable.answer_type == ChoiceAnswer::CHECKBOX %>
								  <% for answer in element.assetable.choice_answers %>
									  <%= check_box_tag "response[raw_responses_attributes][#{index}][answer][]", answer.id, false, :id => "answer_#{answer.id}" %>
										<%= label_tag "answer_#{answer.id}", answer.answer %>
									<% end -%>
								<% end # if ChoiceQuestion %>
							
							<% elsif element.assetable_type == "TextQuestion" %>
								<% if element.assetable.answer_type == "field" %>
									<%= text_field_tag "response[raw_responses_attributes][#{index}][answer]", nil, :class => "text_question_field" %>
								<% elsif element.assetable.answer_type == "area" %>
									<%= text_area_tag "response[raw_responses_attributes][#{index}][answer]", nil, :class => "text_question_area"%>
								<% end -%>
							<% end -%>
						<% else %>
              				<%= sanitize element.assetable.snippet.html_safe%>
						<% end %>			
					</li>
					<% index = index + 1%>
				<% end %>
				</ul>
				<div class="surveyNav">
					<% unless page.page_number == 1 %>
						<span class="surveyNavPrev"><%= link_to_function "Previous Page", "show_prev_page(#{page.page_number})", :class=>"surveyNav"  %></span> |
					<% end %>
					<% unless page.page_number == @survey_version.pages.count %>
						<span class="surveyNavNext"><%= link_to_function "Next Page", "show_next_page(#{page.page_number})", :class=>"surveyNav" %></span>
					<% end %>
					<% if page.page_number == @survey_version.pages.count %>
						<span class="surveyNavSub"><%= submit_tag "Submit Survey", :disabled => "disabled"  %></span> |
						<span class="surveyNavFinished"><%= link_to "Finished Viewing", survey_survey_versions_path(@survey), :class=>"surveyNav" %></span>
					<% end %>
				</div>
				
			</div> <!-- close page div -->
		<% end -%>
	<% end -%>
<% end -%>

<div class="pageNav">
	<% unless @survey_version.published %>
		<%= link_to "Edit Survey", edit_survey_survey_version_path(@survey, @survey_version), :class => "pageNav" %> |
	<% end -%>
	<%= link_to 'View All Versions', survey_survey_versions_path(@survey), :class=>"pageNav" %>
</div>