<p class="pageTitle">Preview Survey: <%= @survey.name.titleize %> <%= "#{@survey_version.major}.#{@survey_version.minor}" %></p>

<% javascript 'survey.js' %>

<% if @survey_version.nil? %>
	<p>Could not find version <%= params[:version] %></p>
	<%= link_to "View all", survey_path(@survey) %>
<% else %>
  <%= flash_messages(flash) %>

<%= form_tag url_for(:controller => "survey_responses", :action => "create") do %>
	  <%= hidden_field_tag :stylesheet, params[:stylesheet] %>
	  <% index = 0 %>
		<% for page in @survey_version.pages %>
			<% question_number = 0 %>
			<div class="<%= page.page_number == (params[:page].present? ? params[:page].to_i : 1) ? 'current_page' : 'hidden_page' %>" id="page_<%=page.page_number%>">
				<a name="PAGE_<%= page.page_number%>">
	      <%= hidden_field_tag :next_page, page.next_page.try(:page_number), :id => "page_#{page.page_number}_next_page" %>
				<%= hidden_field_tag :prev_page, (params[:page].present? && params[:page].to_i == page.page_number ? 1 : page.prev_page.try(:page_number)), :id => "page_#{page.page_number}_prev_page" %>
				
				<%= hidden_field_tag "survey_version_id", @survey_version.id %>
				<ul class="showList">
				<% page.survey_elements.order("element_order asc").each do |element| %>
					<li class="outter">
						<% if element.assetable_type != 'Asset'
							 question_number =+ question_number + 1  
						end %>
						<% if element.assetable_type == "MatrixQuestion" %>
							<% if element.assetable_type != 'Asset'  %>
								<span class="vocquestionnumber"><%= "#{question_number}. #{element.assetable.question_content.statement}" %></span>
							<% end %>
			              <table>
			                <tr>
			                  <th></th>
			                  <% for column_header in element.assetable.choice_questions.first.choice_answers do %>
			                   <th scope="col"><%= column_header.answer %></th>
			                  <% end -%>
			                </tr>
			                <% for row_header in element.assetable.choice_questions do %>
			                  <tr>
			                    <th scope="row">
														<%= row_header.question_content.statement%><%= "*" if row_header.question_content.required? || element.assetable.required %>
														<%= hidden_field_tag "#{row_header.question_content.id}_required", row_header.question_content.required || element.assetable.question_content.required, :class => "required_question" %>
													</th>
			                    <% row_header.choice_answers.each do |a| %>
			                      <td>
			                      <%= hidden_field_tag "response[raw_responses_attributes][#{index}][question_content_id]", row_header.question_content.id %>
			                      <%= radio_button_tag "response[raw_responses_attributes][#{index}][answer]", a.id, false, :class => "question_#{row_header.question_content.id}_answer" %>
			                      </td>
			                    <% end %>
			                  </tr>
			                  <% index = index + 1%>
			                <% end -%>
			              </table>
						<% elsif element.assetable_type != "Asset" %>
							<%= hidden_field_tag "response[raw_responses_attributes][#{index}][question_content_id]", element.assetable.question_content.id %>
							<%= hidden_field_tag "#{element.assetable.question_content.id}_required", element.assetable.question_content.required, :class => "required_question" %>
							
							<div class="vocquestiontext"><span class="vocquestionnumber"><%= "#{question_number}." %> </span><%= element.assetable.question_content.statement %>
							<%= "*" if element.assetable.question_content.required%></div>
							<% if element.assetable_type == "ChoiceQuestion" %>
								<% if element.assetable.answer_type == ChoiceAnswer::RADIO 
									choice_a_size = (element.assetable.choice_answers.map {|x| x.answer}).join('----').size
									%>
									<div class="vocradios<%= choice_a_size <= 90 ? 'short' : 'long' %>">
										<% for answer in element.assetable.choice_answers %>
											<span class="vocradio"><%= radio_button_tag "response[raw_responses_attributes][#{index}][answer]", answer.id, false,
	                      :onclick => generate_onclick(element, page, answer),
												:class => "question_#{element.assetable.question_content.id}_answer", 
												:checked => answer.is_default || (params[element.assetable.statement.gsub('?', '').gsub(' ', '_').downcase.to_s] == answer.answer),
												:id => "response[raw_responses_attributes][#{index}][answer]_#{answer.id}"
											%>
											<%=label_tag "response[raw_responses_attributes][#{index}][answer]_#{answer.id}", sanitize(answer.answer, :attributes => %w(id class target style href)%></span>
										<% end -%>
									</div>
								<% elsif element.assetable.answer_type == ChoiceAnswer::DROPDOWN %>
									<span class="vocdropdown"><%= select_tag "response[raw_responses_attributes][#{index}][answer]", 
										options_from_collection_for_select(element.assetable.choice_answers, "id", "answer", :selected=>Proc.new {|obj| obj.is_default}),
										:include_blank => true, :onchange => generate_next_page_on_change(element), 
										:class => "question_#{element.assetable.question_content.id}_answer" %></span>
								<% elsif element.assetable.answer_type == ChoiceAnswer::MULTISELECT %>
								  <span class="vocmultiselect"><%= select_tag "response[raw_responses_attributes][#{index}][answer][]", 
										options_from_collection_for_select(element.assetable.choice_answers, "id", "answer", :selected=>Proc.new {|obj| obj.is_default}),
										:multiple => true, 
										:style => "width: 100px", 
										:class => "question_#{element.assetable.question_content.id}_answer" %></span>
								<% elsif element.assetable.answer_type == ChoiceAnswer::CHECKBOX
									choice_a_size = (element.assetable.choice_answers.map {|x| x.answer}).join('----').size
									%>
									<div class="voccheckboxes<%= choice_a_size <= 90 ? 'short' : 'long' %>">
									  <% for answer in element.assetable.choice_answers %>
											<span class="voccheckbox"><%= check_box_tag "response[raw_responses_attributes][#{index}][answer][]", 
																				  	answer.id, 
																				  	false, 
																				  	:id => "answer_#{answer.id}", 
																				  	:class => "question_#{element.assetable.question_content.id}_answer",
																				  	:checked=> answer.is_default || (params[element.assetable.statement.gsub('?', '').gsub(' ', '_').downcase.to_s] == answer.answer) %>
											<%= label_tag "answer_#{answer.id}", sanitize(answer.answer, :attributes => %w(id class target style href) %></span>
										<% end -%>
									</div>
								<% end # if ChoiceQuestion %>
							
							<% elsif element.assetable_type == "TextQuestion" %>
								<%= label_tag "response[raw_responses_attributes][#{index}][answer]", "Answer for question #{question_number}", :style => "display: none" %>
								<% if element.assetable.answer_type == "field" %>
                <span class="voctextfield"><%= text_field_tag "response[raw_responses_attributes][#{index}][answer]", nil, :class => "text_question_field question_#{element.assetable.question_content.id}_answer", :maxlength => element.assetable.answer_size %></span>
								<% elsif element.assetable.answer_type == "area" %>
									<span class="voctextarea"><%= text_area_tag "response[raw_responses_attributes][#{index}][answer]", nil, :class => "text_question_area question_#{element.assetable.question_content.id}_answer", :maxlength => element.assetable.answer_size, :rows => element.assetable.row_size, :columns => element.assetable.column_size %></span>
								<% end -%>
							<% end -%>
						<% else %>
              				<%= element.assetable.snippet.html_safe%>
						<% end %>			
					</li>
					<% index = index + 1%>
				<% end %>
				</ul>
				<div class="surveyNav">
					<% unless page.page_number == 1 or (params[:noback].to_s.downcase=="true") %>
						<span class="surveyNavPrev"><%= link_to_function "Previous Page", "show_prev_page(#{page.page_number})", :class=>"surveyNav"  %></span> |
					<% end %>
					<% unless page.page_number == @survey_version.pages.count %>
						<span class="surveyNavNext"><%= link_to_function "Next Page", "show_next_page(#{page.page_number})", :class=>"surveyNav" %></span>
					<% end %>
					<span class="surveyNavSub"><%= submit_tag("Submit Survey", :disabled => "disabled", :onclick=>"return validate_before_submit(#{page.page_number})")if page.page_number == @survey_version.pages.count %></span>
				</div>
				
			</div> <!-- close page div -->
		<% end -%>
	<% end -%>
<% end -%>

<div class="pageNav">
	<% unless @survey_version.published %>
		<%= link_to "Edit Survey", edit_survey_survey_version_path(@survey, @survey_version), :class => "pageNav" %> |
	<% end -%>
	<%= link_to 'View All Versions', survey_survey_versions_path(@survey), :class=>"pageNav" %>
</div>