<% text_question = @survey.newest_version.text_questions.build %>

<%= form_for [@survey.newest_version, text_question], :remote => true do |f| %>
	<div class="validation_errors"></div>
	<%= f.label :answer_type %>
	<%= f.radio_button :answer_type, "field", :id => "field_radio_button" %><%= f.label :field_radio_button, "Field" %>
	<%= f.radio_button :answer_type, "area", :id => "area_radio_button" %><%= f.label :are_radio_button, "Area" %>
	<br/>
	<% text_question.build_question_content if text_question.new_record? %>
	<%= f.fields_for :question_content do |builder| %>
		<%= render :partial => "shared/question_content_fields", :locals => {:f => builder} %>
	<% end -%>
	<br/>
	<% text_question.build_survey_element if text_question.new_record? %>
	<%= f.fields_for :survey_element do |builder| %>
		<%= builder.hidden_field :order, :value => @survey.newest_version.next_element_number %>
	<% end %>
	
	<br/>
	<%= f.submit "Add Question" %>
	<%= link_to "Cancel", nil, :class => "simplemodal-close"%>
<% end -%>

