<h2>New Matrix Question</h2>

<% matrix_question ||= survey.newest_version.matrix_questions.build %>

<%= form_for [survey, survey.newest_version, matrix_question], :remote => true do |f| %>
  <div class="validation_errors"></div>
  <p>
    <%= f.label :statement, "Question" %><br />
    <%= f.text_area :statement, :rows => 3 %>
  </p>

	<div id="rows">
		<% 4.times {matrix_question.choice_questions.build} %>
		<%= f.fields_for :choice_questions do |builder| %>
			<% builder.object.build_question_content %>
			<%= builder.fields_for :question_content do |content_builder| %>
				<%= render :partial => 'shared/question_content_fields', :locals => {:f => content_builder, :matrix_question => true }%>			
			<% end %>
		<% end -%>
	</div>
	
	<div id="columns">
		<% 4.times do |i| %>
			<%= label_tag "choice_answer_attributes[#{i}][answer]", "Answer" %>
			<%= text_field_tag "choice_answer_attributes[#{i}][answer]" %>
		<% end -%>
	</div>

  <%= render :partial => "shared/survey_element_fields", :locals => {:f => f, :object => matrix_question, :survey => survey}%>

  <p><%= f.submit %></p>
<% end %>
