<p class="modalTitle">New Matrix Question</p>

<% matrix_question ||= survey_version.matrix_questions.build %>

<%= form_for [survey, survey_version, matrix_question], :remote => true do |f| %>
  <div class="validation_errors"></div>
	
	<% matrix_question.build_question_content if matrix_question.new_record? %>
	<%= f.fields_for :question_content do |builder| %>
		<%= render 'shared/question_content_fields', :f => builder, :matrix_question => true %>
	<% end -%>
	<br/><br/>

	<%= f.label :rows %><br/>
	<i>Enter each question on its own line</i><br/>
	<%= f.text_area :rows %>
	<br/><br/>
	


	<%= f.label :columns %><br/>
	<i>Enter each answer on its own line</i><br/>
	<%= f.text_area :columns%>
	<br/><br/>
	
	<%= f.label :answer_type %><br/>
	<%= f.select :answer_type, options_for_select(['radio']) %>
	<br/><br/>
	
	<%= render :partial => "shared/survey_element_fields", :locals => {:f => f, :object => matrix_question, :survey => survey, :survey_version => survey_version}%>
	<br/><br/>
	
  <%= f.submit "Add Matrix Question" %>
  <%= link_to "Cancel", nil, :class => "simplemodal-close" %>
<% end %>
