<p class="modalTitle">Edit Matrix Question</p>
<%= form_for [@survey, @survey_version, @matrix_question], :remote => true, :html => {:class => 'question_edit_form'} do |f| %>
  <div class="validation_errors"></div>

	<%= f.fields_for :question_content do |builder| %>
	 <%= render :partial => "shared/question_content_fields", :locals => {:f => builder} %>
	<% end -%>

  <br /><br />
  <div id="rows">
    <%= f.fields_for :choice_questions do |builder| %>
      <%= render :partial => "shared/choice_question_fields", :locals => {:f => builder}%>
    <% end -%>
    <br />
    <span><%= link_to_add_fields("Add Question", f, :choice_questions) unless @survey_version.locked? %></span>
  </div>
  <br />

  <div id="columns">
  	<% @matrix_question.choice_questions.includes(:choice_answers).first.choice_answers.each_with_index do |ca, index| %>
		  <%= render 'shared/matrix_answers_fields', :i => index, :answer => ca.answer%>
		<% end %>
	</div>
	<span><%= link_to_add_matrix_answer("Add Answer") unless @survey_version.locked? %>

  <%= render :partial => 'shared/survey_element_fields', :locals => {:f => f, :object => @matrix_question, :survey => @survey, :survey_version => @survey_version} %>

  <br/><br/>
  <div class="pageLink">
  	<%= link_to "Cancel", nil, :class => "simplemodal-close" %>
    <%= image_submit_tag "update-question.png", :alt=>"Update Question" %>
  	<%#= f.submit "Update Question", :type => :image, :src=>"/images/update-question.png", :alt=>"Update Question" #%>
  </div>
<% end %>
