<% title "Matrix Questions" %>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for matrix_question in @matrix_questions %>
    <tr>
      <td><%= matrix_question.name %></td>
      <td><%= link_to "Show", matrix_question %></td>
      <td><%= link_to "Edit", edit_matrix_question_path(matrix_question) %></td>
      <td><%= link_to "Delete", matrix_question, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Matrix Question", new_matrix_question_path, :class => "pageNav" %></p>
