<p class="modalTitle">New Matrix Question</p>

<%= form_for [@survey, @survey_version, @matrix_question], :remote => true do |f| %>
  <%= f.error_messages %>

  <% @matrix_question.build_question_content unless @matrix_question.question_content %>
  <%= f.fields_for :question_content do |builder| %>
   <%= render :partial => "shared/question_content_fields", :locals => {:f => builder, :matrix_statement => true} %>
  <% end -%>

  <div id="rows">
    <% @matrix_question.choice_questions.build if @matrix_question.choice_questions.empty? %>
    <%= f.fields_for :choice_questions do |builder| %>
      <%= render :partial => "shared/choice_question_fields", :locals => {:f => builder}%>
    <% end -%>
    <br />
    <span><%= link_to_add_fields "Add Question", f, :choice_questions %></span>
  </div>
  <br />

  <div id="columns">
    <% 4.times do |i| %>
      <%= render :partial => "shared/matrix_answers_fields", :locals => {:i => i, :answer => nil}%>
    <% end -%>
    <span><%= link_to_add_matrix_answer "Add Answer" %></span>
  </div>
  <br/><br/>

  <%= render :partial => "shared/survey_element_fields", :locals => {:f => f, :object => @matrix_question, :survey => @survey, :survey_version => @survey_version}%>
  <br/><br/>

  <div class="pageLink">
  	<%= link_to "Cancel", nil, :class => "cancelLink" %>
    <%= image_submit_tag "create-question.png", :alt=>"Create Question" %>
  	<%#= f.submit "Create Question", :type => :image, :src=>"/images/create-question.png", :alt=>"Create Question"# %>
  </div>
<% end %>
