<%= form_for @user, :remote => true do |f| %>
	<% if @user.errors.any? %>
		<div class="modalErrorBox">
			<p class="modalErrorTitle"><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</p>
			<ul class="modalList">
				<% @user.errors.full_messages.each do |msg| %>
				  <li class="modalList"><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	
	<div id="create_form_widths">
		<div class="copy">
	    <span class="copyBold"><%= f.label :f_name, "First Name: "%></span><%= f.text_field :f_name, :size=>"30" %> &nbsp;&nbsp;
	    <span class="copyBold"><%= f.label :l_name, "Last Name: " %></span><%= f.text_field :l_name, :size=>"30" %>
	  </div>
	  
	  <div class="leftside">
	  	<p class="copyBold"><%= f.label :email, "Email: " %></p>
	  </div>
	  <div class="rightside">
	  	<%= f.text_field :email %>
	  </div>
	  
		
		<% if @user.new_record? || @user == @current_user %>
			<div class="leftside">
			  <p class="copyBold"><%= f.label :password, "Password: " %></p>
		  </div>
		  <div class="rightside">
		  	<%= f.password_field :password%>
		  </div>
		  <div class="leftside">
			  <p class="copyBold"><%= f.label :password_confirmation, "Password Confirmation: " %></p>
		  </div>
		  <div class="rightside">
		  	<%= f.password_field :password_confirmation%>
		  </div>
		<% end -%>
	
	  <% if @current_user.admin? %>
			<div class="leftside">
				<p class="copyBold"><%= f.label :role_id, "Role: " %></p>
			</div>
			<div class="rightside">
				<%= radio_button :user, :role_id, Role::ADMIN.id, :id => "admin_role", :onclick => "$('#sites_div').hide();" %><%= label_tag "admin_role", "Admin" %>
				<%= radio_button :user, :role_id, nil, :id => "user_role", :checked => @user.role.nil?, :onclick => "$('#sites_div').show()" %><%= label_tag "user_role", "User" %>
			</div>
			<div id="sites_div" class="<%= @user.role.nil? ? '' : 'displayNone'%>">
				<div class="leftside">
					<p class="copyBold"><%= f.label :site_ids, "Sites:" %></p>
				</div>
				<div class="rightside">
		    	<%= f.collection_select :site_ids, Site.all, :id, :name, {width: 180}, multiple: true, id: "user_sites" %>
		  	</div>
			</div>
	  <% end %>
	 
		<div class="sumbitButton">
			<%= f.submit %>
		</div>
	</div> 
<% end %>
