<%= form_for @user do |f| %>
	<% if @user.errors.any? %>
		<div class="modalErrorBox">
			<p class="modalErrorTitle"><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</p>
			<ul class="modalList">
				<% @user.errors.full_messages.each do |msg| %>
				  <li class="modalList"><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	
	<p class="copy">
    <span class="copyBold"><%= f.label :f_name, "First Name: "%></span><br />
    <%= f.text_field :f_name %>
  </p>
  <p class="copyBoldMargin">
    <%= f.label :l_name, "Last Name: " %><br />
    <%= f.text_field :l_name %>
  </p>
  <p class="copyBoldMargin">
    <%= f.label :email, "Email: " %><br />
    <%= f.text_field :email %>
  </p>
	
	<% if @user.new_record? || @user == @current_user %>
	  <p class="copyBoldMargin">
	    <%= f.label :password, "Password: " %><br/>
	    <%= f.password_field :password%>
	  </p>
	  <p class="copyBoldMargin">
	    <%= f.label :password_confirmation, "Password Confirmation: " %><br/>
	    <%= f.password_field :password_confirmation%>
	  </p>
	<% end -%>
	<p class="sumbitButton"><%= f.submit %></p>
<% end %>
