<table id="usersTable" summary="this table lists users">
  <tr>
    <th class="col1" scope="col">Edit</th>
    <th class="col2" scope="col">
      <%= sortable "fullname", "User Name", {q: params[:q] }%>
    </th>
    <th class="col3" scope="col">
      <%= sortable "role_id", "Role", {q: params[:q] }%>
    </th>
    <th class="col4" scope="col">
      <%= sortable "email", "Email", {q: params[:q] } %>
    </th>
    <th class="col5" scope="col">
      <%= sortable "organization_id", "Organization", {q: params[:q]} %>
    </th>
    <th class="col5" scope="col">HHS ID</th>
    <th class="col6" scope="col">Delete</th>
  </tr>
  <% for user in users %>
    <tr class="<%= cycle('gray','white') %>">
      <td class="col1"><%= link_to image_tag('edit.png', :alt=>"edit icon"),
        edit_user_path(user, page: params[:page]), :remote => true %>
      </td>
      <td class="col2"><%= link_to user.fullname, user %></td>
      <td class="col3"><%= user.role.nil? ? 'User' : user.role.name %></td>
      <td class="col4"><%= user.email %></td>
      <td class="col5"><%= truncate(user.organization.try(:name), length: 75) %></td>
      <td class="col5"><%= user.hhs_id %></td>
      <td class="col6"><%= link_to image_tag('delete.png', :alt=>"delete icon"),
        user, data: { :confirm => 'Are you sure?' }, :method => :delete,
        :class=>"deleteLink" %>
      </td>
    </tr>
  <% end %>
</table>
