<p class="pageTitle">Users</p>
<div class="pageNav-upper">
	<%= link_to "New User", new_user_path, :class => "pageNav", :remote => true %>
</div>
<%= flash_messages(flash) %>

<%= render partial: 'users_table', locals: {users: @users} %>

<%= paginate @users %>

<div class="pageNav">
	<%= link_to "New User", new_user_path, :class => "pageNav", :remote => true %>
</div>

<div id="modalDiv" style="display: none;"></div>