<h1>User Details</h1>
<%= flash_messages(flash) %>

<div id="showpage">
  <div class="left_side">
    Name:
  </div>
  <div class="right_side">
    <p><%= @user.fullname %></p>
  </div>
  <br />
  <div class="left_side">
    Email:
  </div>
  <div class="right_side">
    <p><%= @user.email %></p>
  </div>
  <br />
  <div class="left_side">
    Username:
  </div>
  <div class="right_side">
    <p><%= @user.username %></p>
  </div>
  <br />
  <div class="left_side">
    Role:
  </div>
  <div class="right_side">
    <p><%= @user.role.nil? ? 'User' : @user.role.name %></p>
  </div>
  <br />
  <% if @user.role.nil? %>
    <div class="left_side">
      Sites:
    </div>
    <div class="right_side">
      <ul class="sites">
      <% @user.sites.each do |site| %>
        <li><%= site.name %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
</div>

<div class="page-nav">
  <%= link_to image_tag('edit.png', :alt=>"edit") + " Edit", edit_user_path(@user), :class=>"manage" %>
  <%= link_to "View All Users", users_path, :class=>"manage" %>
</div>
