<p class="pageTitle">User Details</p>
<%= flash_messages(flash) %>
<p class="copyBold">
  Name:
  <span class="copy"><%= @user.f_name %> <%= @user.l_name %></span>
</p>
<p class="copyBoldMargin">
  Email:
  <span class="copy"><%= @user.email %></span>
</p>

<div class="pageNav">
  <%= link_to "Edit", edit_user_path(@user), :class=>"pageNav" %> |
  <%= link_to "View All", users_path, :class=>"pageNav" %>
</div>
