<div class="surveyNav">
	<% unless survey_version.pages.count == 0 %>
		<span class="surveyNav2">
			<%= link_to "Add an open-ended question", new_survey_survey_version_text_question_path(survey_version.survey, survey_version),
			 :class=>"surveyNav", :remote => true %>
		</span> | 
		<span class="surveyNav3">
			<%= link_to "Add a multiple-choice question", new_survey_survey_version_choice_question_path(survey_version.survey, survey_version),
			 :class=>"surveyNav", :remote => true %>
		</span> | 
		<span class="surveyNav5">
			<%= link_to "Add matrix question", new_survey_survey_version_matrix_question_path(survey_version.survey, survey_version),
			 :class => "surveyNav", :remote => true %>
		</span> | 
		<span class="surveyNav4">
			<%= link_to "Add snippet", new_survey_survey_version_asset_path(survey_version.survey, survey_version), :class=>"surveyNav link_to_new_asset", :remote => true  %>
		</span> | 
		
	<% end # Close unless statement%>
	<span class="surveyNav1">
		<%= link_to "Add a new page", survey_survey_version_pages_path(survey_version.survey, survey_version, :page => {:page_number => survey_version.pages.count + 1}),
		 :remote => true, :method => :post, :class=>"surveyNav link_to_new_page" %>
	</span> 
</div>