<p class="answer_fields">
  <%= f.label :answer, "Answer: " %>
  <%= f.text_field :answer %>

  <% unless @survey_version.try(:locked?) %>
    <span class="next_pages" style="<%= 'display:none' unless f.object.choice_question.try(:question_content).try(:flow_control) %>" >
    <%= f.label :next_page_id, "Go To Page: " %><%= f.collection_select :next_page_id, survey_version.pages.order(:page_number), :id, :page_number, {},  :class => "next_page_select" %>
    </span>
    <%= f.label :is_default, "Default?" %>
    <%= f.check_box :is_default %>
    <%= link_to image_tag("arrow_up_larger.png", alt: "move up"), "javascript:void(0);",
      onclick: "swapAnswers(this, 'up');" %>
    <%= link_to image_tag('arrow_down_larger.png', :alt=>"move down"), "javascript:void(0);",
      onclick: "swapAnswers(this, 'down')" %>

    <%= f.hidden_field :_destroy %>
    <%= link_to image_tag("delete.png", alt: "Delete"), "javascript:void(0);",
      onclick: "remove_fields(this)", class: "deleteLink" %>
  <% end %>
</p>
