<p class="answer_fields">
	<%= f.label :answer %>
	<%= f.text_field :answer %>
	<%= f.label :next_page_id, "Next Page"%>
	<%= f.collection_select :next_page_id, survey.newest_version.pages, :id, :number, :class => "next_page_select" %>
	<%= f.hidden_field :_destroy %>
	<%= link_to_function "Remove Answer", "remove_fields(this)" %>
</p>