<div class="criterion">
   <%= f.collection_select :source_select, @source_array, :first, :last, {:selected => "#{f.object.source_id},#{f.object.source_type}"} %>
   <%= f.collection_select :conditional_id, Conditional.all, :id, :name%>

   <%= f.text_field :value%>

	  <%= f.hidden_field :_destroy, :value => "" %>
    <%= link_to_function image_tag("red_x.png", :alt=>"Remove Element", :class=>"redX"), "remove_fields(this)" %>
</div>
<br/>