<p class="answer_fields">
  <%= label_tag "choice_answer_attributes[#{i}][answer]", "Answer: " %>
  <%= text_field_tag "choice_answer_attributes[#{i}][answer]", answer.presence %>
  <% unless @survey_version.try(:locked?) %>
    <%= link_to image_tag("arrow_up_larger.png", alt: "move up"), "javascript:void(0);",
      onclick: "swapAnswers(this, 'up');" %>
    <%= link_to image_tag('arrow_down_larger.png', :alt=>"move down"), "javascript:void(0);",
      onclick: "swapAnswers(this, 'down')" %>
    <%= link_to image_tag("delete.png", alt: "Delete"), "javascript:void(0);",
      onclick: "remove_matrix_answer(this)", class: "deleteLink" %>
  <% end %>
  <br/>
</p>
