<% unless @survey_version.try(:locked?) %>
  <%= f.check_box :required, {} %>
  <%= f.label :required, "Require an answer to this question (optional)" %>
  <% if f.object.questionable_type == "ChoiceQuestion" && !defined?(matrix_question) && !defined?(skip_flow_control) %>
    <div id="flow_control_settings">
      <%= f.hidden_field :flow_control, :value => f.object.flow_control %>
      <%= f.check_box :flow_control, {:id => "flow_control_checkbox"} %>
      <%= f.label :flow_control, "Flow control", :for=>"flow_control_checkbox"%>
    </div>
  <% end %>
  <br />
<% end %>
<%= f.label :statement, (f.object.questionable_type == "MatrixQuestion" ? "Statement: " : "Question: ")%>

<% unless @survey_version.try(:locked?) %>
  <% if defined? matrix_question %>
    <%= f.hidden_field "_destroy" %>
    <%= link_to image_tag("arrow_up_larger.png", alt: "move up"),
      "javascript:void(0);",
      onclick: "swapMatrixQuestion(this, 'up')" %>
    <%= link_to image_tag("arrow_down_larger.png", alt: "move down"),
      "javascript:void(0);",
      onclick: "swapMatrixQuestion(this, 'down')" %>
    <%= link_to image_tag("delete.png", alt: "Delete"), "javascript:void(0);",
      onclick: "remove_fields(this)",
      class: "deleteLink" %>
  <% end %>
<% end %>
<br />
<%= f.text_area :statement, :rows => 3%>
<br />
