<%= f.label :statement, "Question: "%>
<%= f.check_box :required, {:checked => false}, true, false %>
<%= f.label :required %>

<% if f.object.questionable_type == "ChoiceQuestion" %>
<div id="flow_control_settings" style="display:inline">
  <%= f.hidden_field :flow_control, :value => false %>
  <%= f.check_box :flow_control, {:id => "flow_control_checkbox"}, true, false %>
	<%= f.label :flow_control_checkbox, "Flow Control"%>
</div>
<% end %>
<br/>
<%= f.text_area :statement, :rows => 3%><br/>
