<%= form_for [survey, version, display_field_value], :remote => true do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :value %><br />
    <%= f.text_area :value %>
  </p>
  <p><%= f.submit %></p>
<% end %>