<%= form_for [:question_bank, @matrix_question] do |f| %>
  <% if @matrix_question.errors.any? %>
    <%= render 'shared/errors', object: @matrix_question, object_type: 'matrix question' %>
  <% end %>

  <% @matrix_question.build_question_content unless @matrix_question.question_content %>
  <%= f.fields_for :question_content do |builder| %>
   <%= render :partial => "shared/question_content_fields", :locals => {:f => builder, :matrix_statement => true, :skip_flow_control => true} %>
  <% end -%>
  <br />
  <div id="rows">
    <% @matrix_question.choice_questions.build if @matrix_question.new_record? %>
    <%= f.fields_for :choice_questions do |builder| %>
      <%= render :partial => "shared/choice_question_fields", :locals => {:f => builder}%>
    <% end -%>

    <span><%= link_to_add_fields("Add Question", f, :choice_questions) %></span>
  </div>
  <br />

  <div id="columns">
    <% if @matrix_question.new_record? %>
      <% 4.times do |i| %>
        <%= render :partial => "shared/matrix_answers_fields", :locals => {:i => i, :answer => nil}%>
      <% end -%>
    <% else %>
      <% @matrix_question.choice_questions.includes(:choice_answers).first.choice_answers.each_with_index do |ca, index| %>
        <%= render 'shared/matrix_answers_fields', :i => index, :answer => ca.answer%>
      <% end %>
    <% end %>
    <span><%= link_to_add_matrix_answer("Add Answer") %></span>
  </div>

  <div class="pageLink">
    <%= link_to "Cancel", question_bank_path, :class => "cancelLink simplemodal-close" %>
    <%= f.submit %>
  </div>
<% end %>
