<% if @custom_view.errors.any? %>
  <%= render('shared/errors', {object: @custom_view, object_type: 'view'}) %>
<% end %>

<% javascript 'custom_views.js' %>

<%= form_for [@survey, @survey_version, @custom_view] do |f| %>	
	<%= field_set_tag "Options" do %>
		<div class="left_side">
			<%= f.label :name, "Name: " %>
		</div>
		<div class="right_side">
			<%= f.text_field :name %>
		</div>
		<br />
		<fieldset class="hide">
			<div class="left_side">
				<legend>Default View:</legend>
			</div>
			<div class="right_side">
				<%= f.radio_button :default, true %>
				<%= f.label "default_true", "Yes" %>
				<%= f.radio_button :default, false %>
				<%= f.label "default_false", "No" %>
			</div>
		</fieldset>
	<% end %>
	
	<%= field_set_tag "Display Fields (Columns)" do %>
		<div class="left_side_c">
			<div class="hidden_label"><%= label_tag "available_display_fields" %></div>
			<%= select_tag "available_display_fields", options_from_collection_for_select(@survey_version.display_fields - (@display_fields || f.object.display_fields), :id, :name), :multiple => true %>
			<br />
			<div class="center">
				<%= link_to "Manage Display Fields", survey_survey_version_display_fields_path(@survey, @survey_version), :class=>"manage" %>
				<%= link_to "Add Display Field", new_survey_survey_version_display_field_path(@survey, @survey_version), :class=>"newlink" %>
			</div>
		</div>
	
		<div class="center_side">
			<%= link_to "ADD >>", nil, :id => "add_display_fields", :class=>"manage" %>
			<br /><br />
			<%= link_to "<< REMOVE", nil, :id => "remove_display_fields", :class=>"manage" %>
		</div>
	
		<div class="right_side_c">
			<div class="hidden_label"><%= label_tag "selected_display_fields" %></div>
			<%= select_tag "selected_display_fields", options_from_collection_for_select(@display_fields || f.object.ordered_display_fields, :id, :name), :multiple => true %>
			<%= hidden_field_tag "custom_view[ordered_display_fields][selected]" %>
			<br />
			<div class="center">
				<%= link_to image_tag('arrow_up_larger.png', :alt=>"move up"), "#", :id => "move_display_field_up" %>
				<%= link_to image_tag('arrow_down_larger.png', :alt=>"move down"), "#", :id => "move_display_field_down" %>
			</div>
		</div>
	<% end %>

	<%= field_set_tag "Default Sort" do %>
		<%= hidden_field_tag "custom_view[ordered_display_fields][sorts]", sort_orders(f.object.sorted_display_field_custom_views) %>
		<div class="left_side">
			<%= label_tag "sort_by_1", "First Sort By:" %>
		</div>
		<div class="right_side">
			<%= select_tag "sort_by_1", "<option value='-1'>SELECT COLUMN</option>".html_safe %>
			<%= radio_button_tag "sort_by_1_dir", "asc" %>
			<%= label_tag "sort_by_1_dir_asc", "Ascending" %>
			<%= radio_button_tag "sort_by_1_dir", "desc" %>
			<%= label_tag "sort_by_1_dir_desc", "Descending" %>
		</div>
		<br />
		<div class="left_side">
			<%= label_tag "sort_by_2", "Then By:" %>
		</div>
		<div class="right_side">
			<%= select_tag "sort_by_2", "<option value='-1'>SELECT COLUMN</option>".html_safe %>
			<%= radio_button_tag "sort_by_2_dir", "asc" %>
			<%= label_tag "sort_by_2_dir_asc", "Ascending" %>
			<%= radio_button_tag "sort_by_2_dir", "desc" %>
			<%= label_tag "sort_by_2_dir_desc", "Descending" %>
		</div>
		<br />
		<div class="left_side">
			<%= label_tag "sort_by_3", "Then By:" %>
		</div>
		<div class="right_side">
			<%= select_tag "sort_by_3", "<option value='-1'>SELECT COLUMN</option>".html_safe %>
			<%= radio_button_tag "sort_by_3_dir", "asc" %>
			<%= label_tag "sort_by_3_dir_asc", "Ascending" %>
			<%= radio_button_tag "sort_by_3_dir", "desc" %>
			<%= label_tag "sort_by_3_dir_desc", "Descending" %>
		</div>
		<br />
		<p class="italic">NOTE: Users will always be able to sort by clicking on the column headers.</p>
	<% end %>

	<div class="submitButton">
		<% if f.object.new_record? %>

			<%= image_submit_tag "create-view.png", :alt=>"Create Custom View" %>
			<%#= f.submit "Create Custom View", :type => :image, :src=>"images/create-view.png", :alt=>"Create Custom View" #%>


		<% else %>

	     	<%= image_submit_tag "update-view.png", :alt=>"Update Custom View" %>
			<%#= f.submit "Update Custom View", :type => :image, :src=>"images/update-view.png", :alt=>"Update Custom View"# %>
		<% end %>
	</div>
<% end %>
