<p class="pageTitle">Custom Views</p>
<div class="pageNav-upper">
	<%= link_to "Add New Custom View", new_survey_survey_version_custom_view_path(@survey, @survey_version), :class=>"pageNav" %> |
	<%= link_to "View Survey Responses", survey_responses_path(:survey_id => @survey.id, :survey_version_id => @survey_version.id), :class=>"pageNav"%>
</div>
<%= flash_messages(flash) %>

<table id="customViewsTable">
	<tr>
		<th class="col1">Name</th>
		<th class="col2" colspan="3">Default</th>
	</tr>

	<% @custom_views.each do |cv| %>
	 <tr class="<%= cycle('white','blue') %>">
	 	<td class="col1"><%= cv.name %></td>
		<td class="col2"><%= cv.default %></td>
		<td class="col3">
			<%= link_to image_tag('edit.png') + "Edit", edit_survey_survey_version_custom_view_path(@survey, @survey_version, cv) %>
		</td>
		<td class="col4">
			<%= link_to image_tag("red_x.png", :alt=>"Delete", :class=>"redX") + "Delete", survey_survey_version_custom_view_path(@survey, @survey_version, cv), :method => :delete %>
		</td>
	 </tr>
	<% end %>
</table>

<div class="pageNav">
	<%= link_to "Add New Custom View", new_survey_survey_version_custom_view_path(@survey, @survey_version), :class=>"pageNav" %> |
	<%= link_to "View Survey Responses", survey_responses_path(:survey_id => @survey.id, :survey_version_id => @survey_version.id), :class=>"pageNav"%>
</div>
