<p class="modalTitle">New Choice Question</p>

<% choice_question ||= survey_version.choice_questions.build %>

<%= form_for [survey, survey_version, choice_question], :remote => true do |f| %>
  <div class="validation_errors"></div>
	<% choice_question.build_question_content if choice_question.new_record? %>
	<%= f.fields_for :question_content do |builder| %>
		<%= render :partial => 'shared/question_content_fields', :locals => {:f => builder, :choice_question => true}%>
	<% end -%>
	<br/>
	<br/>
	<%= f.label :answer_type, "Answer Type: " %>
	<%= f.select :answer_type, options_for_select([["Radio", ChoiceAnswer::RADIO], ["Dropdown", ChoiceAnswer::DROPDOWN], ["Multi-select", ChoiceAnswer::MULTISELECT]]), :id => "answer_type_dropdown" %>
	
	

	<% 4.times {choice_question.choice_answers.build} %>
	<%= f.fields_for :choice_answers do |answer_builder| %>
		<%= render :partial => 'shared/choice_answer_fields', :locals => {:f => answer_builder, :survey => survey, :survey_version => survey_version} %>
	<% end %>
	
	<span><%= link_to_add_fields "Add Answer", f, :choice_answers %></span>
	
	<br/>
	<div id="allow_multiple" class="displayNone">
  	<%= f.label :multiselect, "Allow Multiple answers?"%><%= f.check_box :multiselect, {}, true, false %><br/>
	</div>
	<br/><br/>
	<%= render :partial => "shared/survey_element_fields", :locals => {:f => f, :object => choice_question, :survey => survey, :survey_version => survey_version}%>
	<br/><br/>
	<%= f.submit "Add Question" %>
	<%= link_to "Cancel", nil, :class => "simplemodal-close" %>
<% end -%>
