<h3>New Choice Question</h3>

<% choice_question ||= survey.newest_version.choice_questions.build %>

<%= form_for [survey, survey.newest_version, choice_question], :remote => true do |f| %>
  <div class="validation_errors"></div>
	<% choice_question.build_question_content if choice_question.new_record? %>
	<%= f.fields_for :question_content do |builder| %>
		<%= render :partial => 'shared/question_content_fields', :locals => {:f => builder, :choice_question => true}%>
	<% end -%>
	<br/>
	
	<%= render :partial => "shared/survey_element_fields", :locals => {:f => f, :object => choice_question, :survey => survey}%>
	

	<% 4.times {choice_question.choice_answers.build} %>
	<%= f.fields_for :choice_answers do |answer_builder| %>
		<%= render :partial => 'shared/choice_answer_fields', :locals => {:f => answer_builder, :survey => survey} %>
	<% end %>
	
	<%= link_to_add_fields "Add Answer", f, :choice_answers %>
	
	<br/>
	
	<%= f.label :answer_type %>
	<%= f.select :answer_type, options_for_select([["Radio", ChoiceAnswer::RADIO], ["Dropdown", ChoiceAnswer::DROPDOWN], ["Multi-select", ChoiceAnswer::MULTISELECT]]), :id => "answer_type_dropdown" %>
	<br/>
	<%= f.label :multiselect, "Allow Multiple answers?"%><%= f.check_box :multiselect, {}, true, false %><br/>
	<br/>
	
	<br/>
	<%= f.submit "Add Question" %>
	<%= link_to "Cancel", nil, :class => "simplemodal-close"%>
<% end -%>
