<% if @display_field.errors.any? %>
  <div class="modalErrorBox">
    <p class="modalErrorTitle"><%= pluralize(@display_field.errors.count, "error") %> prohibited this display field from being saved:</p>
    <ul class="modalList">
      <% @display_field.errors.full_messages.each do |msg| %>
        <li class="modalList"><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="display_field">
	<div class="display_left">
  	<span class="copyBoldMargin"><%= f.label :name, "Name: " %></span>
  </div>
  <div class="display_right">
  	<%= f.text_field :name, :disabled => disabled %>
	</div>
	<br />
	<div class="display_left">
  	<span class="copyBoldMargin"><%= f.label :model_type, "Type: " %></span>
  </div>
  <div class="display_right">
  	<%= f.select :model_type, DisplayField.select_options %>
	</div>
	<br />
	<div id='choices_fields' style="<%= (f.object.type=="DisplayFieldChoiceSingle" or f.object.type=="DisplayFieldChoiceMultiselect") ? 'display:show;' : "display:none  ;" %>">
		<div class="display_left">
		  <span class="copyBoldMargin" ><%= f.label :choices, "Choices: " %></span><br />
		  <span class="copy">(Separate entries should each appear on individual lines.)</span>
		</div>
		<div class="display_right">
		  <%= f.text_area :choices %>
		</div>
	</div>
	<br />
	<div id="default_value_fields" style='<%= (f.object.type == "DisplayFieldChoiceMultiselect") ? "display:none;" : "display:show;" %>'>
		<div class="display_left">
  		<span class="copyBoldMargin"><%= f.label :default_value, "Default Value: " %></span>
  	</div>
  	<div class="display_right">
	    <% if f.object.type == "DisplayFieldText" or f.object.type==nil %>
	      <%= f.text_field :default_value %>
	    <% else %>
	      <%= f.select :default_value, f.object.choices.split %>
	    <% end %>
	    <%= link_to_function "Refresh", "refresh_default_value_dropdown(); return false;", :id => "refresh_link", :style => f.object.type=="DisplayFieldChoiceSingle" ? "display:show;" : "display:none;" %>
	  </div>
	</div>

	<p class="sumbitButton"><%= f.submit %></p>
</div>
