<% if @display_field.errors.any? %>
  <%= render('shared/errors', {object: @display_field, object_type: 'display field'}) %>
<% end %>

<div id="surveys">
  <div class="left_side"><%= f.label :name, "Name*: " %></div>
  <div class="right_side"><%= f.text_field :name, :disabled => disabled %></div>
  <br />
  <div class="left_side"><%= f.label :model_type, "Type*: " %></div>
  <div class="right_side"><%= f.select :model_type, DisplayField.select_options %></div>
  <br />
  <div id='choices_fields' style="<%= (f.object.type=="DisplayFieldChoiceSingle" or f.object.type=="DisplayFieldChoiceMultiselect") ? 'display:show;' : "display:none  ;" %>">
    <div class="left_side">
      <%= f.label :choices, "Choices*: " %>
      <span class="notation">(Separate<br />entries should each appear<br />on individual lines.)</span>
    </div>
    <div class="right_side">
      <%= f.text_area :choices %>
    </div>
  </div>
  <br />
  <div id="default_value_fields" style='<%= (f.object.type == "DisplayFieldChoiceMultiselect") ? "display:none;" : "display:show;" %>'>
    <div class="left_side">
      <%= f.label :default_value, "Default Value: " %>
    </div>
    <div class="right_side">
      <% if f.object.type == "DisplayFieldText" or f.object.type==nil %>
        <%= f.text_field :default_value %>
      <% else %>
        <%= f.select :default_value, f.object.choices.split %>
      <% end %>
      <%= link_to "Refresh", "javascript:void(0);", id: "refresh_link",
        style: f.object.type == "DisplayFieldChoiceSingle" ? "display:show;" :
        "display: none;",
        class: "manage",
        onclick: "refresh_default_value_dropdown();"
      %>
    </div>
  </div>
</div>

  <p class="submitButton">
    <% if f.object.new_record? %>
       <%= image_submit_tag "create-display.png", :alt=>"Create Display Field" %>
      <%#= f.submit "Create Display Field", :type => :image, :src=>"/images/create-display.png", :alt=>"Create Display Field" #%>
    <% else %>
      <%= image_submit_tag "update-display.png", :alt=>"Edit Display Field" %>
      <%#= f.submit "Update Display Field", :type => :image, :src=>"/images/update-display.png", :alt=>"Edit Display Field" #%>
    <% end %>
  </p>
