<p class="modalTitle">Edit Snippet</p>

<%= form_for [survey, survey_version, asset], :remote => true do |f| %>
	<%= f.text_area :snippet %>
	<br/>
	<br/>
  <%= render :partial => "shared/survey_element_fields", :locals => {:f => f, :object => asset, :survey => survey, :survey_version => survey_version}%>
  <br/>
  <br/>
  <%= f.submit "Edit Snippet" %>
  <%= link_to "Cancel", nil, :class => "simplemodal-close"%>
<% end -%>