<%= form_for [@survey, @survey_version, @asset], :remote => true do |f| %>

  <h2>New Snippet</h2>
  <%= f.error_messages %>
  <div class="hidden_label"><%= f.label :snippet, "Snippet:" %></div>
  <%= f.text_area :snippet %>
  <br/>
  <br/>
  <%= render :partial => "shared/survey_element_fields", :locals => {:f => f, :object => @asset, :survey => @survey, :survey_version => @survey_version}%>
  <br/>
  <br/>
  <div class="pageLink">
  	<%= link_to "Cancel", [:edit, @survey, @survey_version], :class => "cancelLink"%>
    <%= image_submit_tag "create-snippet.png", :alt=>"Create Snippet" %>
  	<%#= f.submit "Create Snippet", :type => :image, :src=>"images/create-snippet.png", :alt=>"Create Snippet" #%>
  </div>
<% end -%>