<div id="surveys">
  <%= form_for(@survey) do |f| %>
    <% if @survey.errors.any? %>
      <%= render :partial => 'shared/errors', :locals => {:object => @survey, :object_type => 'survey'} %>
    <% end %>

    <%= render partial: "required_survey_fields", locals: {f: f} %>
    <br />

    <div class="left_side">
      <%= f.label :omb_expiration_date, "OMB Expiration Date: " %>
    </div>
    <div class="right_side">
      <%= f.text_field :omb_expiration_date %>
    </div>
    <br />

    <div class="instructions">
      <em>Entering a date for the OMB Expiration date field will allow you to use the {{omb_expiration_date}}
      tag in a snippet.  When the survey is published and viewed by a user, the tag will be replaced with
      the date entered in the OMB Expiration date field.  Updating the OMB Expiration date field will
      update all versions of the survey.</em>
    </div>

    <div class="left_side">
      <%= f.label :invitation_percent, "Desktop Invitation Percent: " %>
    </div>
    <div class="right_side">
      <%= f.text_field :invitation_percent %>
    </div>
    <br />

    <div class="left_side">
      <%= f.label :invitation_interval, "Desktop Invitation Interval in Days: " %>
    </div>
    <div class="right_side">
      <%= f.text_field :invitation_interval %>
    </div>
    <br />

    <div class="left_side">
      <%= f.label :suppress_invitation, "Suppress Invitation: " %>
    </div>
    <div class="right_side">
      <%= f.check_box :suppress_invitation %>
    </div>
    <br />

    <div class="left_side">
      <%= f.label :show_numbers, "Show Question Numbers:" %>
    </div>
    <div class="right_side">
      <%= f.check_box :show_numbers %>
    </div>
    <br />

    <div class="left_side">
      <%= f.label :js_required_fields_error, "Error for Required Fields Text: " %>
    </div>
    <div class="right_side">
      <%= f.text_area :js_required_fields_error, :rows => 3 %>
    </div>
    <br/>

    <div class="left_side">
      <%= f.label :alarm, "Enable Daily Alarm Notifications: " %>
    </div>
    <div class="right_side">
      <%= f.check_box :alarm %>
    </div>
    <br/>

    <div class="left_side">
      <%= f.label :alarm_notification_email, "Daily Alarm Notifications Email:" %>
    </div>
    <div class="right_side">
      <%= f.text_field :alarm_notification_email %>
    </div>
    <br/>

    <%= render partial: "invitation_modal_settings", locals: {f: f} %>

    <div class="left_side">
      <%= f.label :start_page_title, "Survey Start Title:" %>
    </div>
    <div class="right_side">
      <%= f.text_field :start_page_title %>
    </div>
    <br/>

    <div class="left_side">
      <%= f.label :holding_page, "Survey Start Page HTML:" %>
    </div>
    <div class="right_side">
      <%= f.text_area :holding_page, rows: 5 %>
    </div>

    <div class="instructions">
      <%= button_tag "Preview", id: "start_page_preview", data: { id: @survey.id },
        disabled: @survey.new_record? %>
      <div>
        <%= f.label :survey_preview_stylesheet, 'Preview Stylesheet' %>
        <%= f.text_field :survey_preview_stylesheet %>
       </div>

        A <em>{{start}}</em> tag should be inserted into the html in the location
      where the start button should be placed.
    </div>
    <br />

    <div class="left_side">
      <%= f.label :start_screen_button_text, "Start Screen Button Text:" %>
    </div>
    <div class="right_side">
      <%= f.text_field :start_screen_button_text %>
    </div>
    <br />

    <div class="left_side">
      <%= f.label :previous_page_text, "Previous Page Text: " %>
    </div>
    <div class="right_side">
      <%= f.text_field :previous_page_text %>
    </div>
    <br />

    <div class="left_side">
      <%= f.label :next_page_text, "Next Page Text: " %>
    </div>
    <div class="right_side">
      <%= f.text_field :next_page_text %>
    </div>
    <br />

    <div class="left_side">
      <%= f.label :submit_button_text, "Submit Button Text: " %>
    </div>
    <div class="right_side">
      <%= f.text_field :submit_button_text %>
    </div>
    <br />

    <div class="left_side">
      <%= f.label :radio_selection_legend, "Radio Button Select Legend: " %>
    </div>
    <div class="right_side">
      <%= f.text_field :radio_selection_legend %>
    </div>
    <br />

    <div class="left_side">
      <%= f.label :checkbox_selection_legend, "Checkbox Select Legend: " %>
    </div>
    <div class="right_side">
      <%= f.text_field :checkbox_selection_legend %>
    </div>
    <br />

    <div class="pageLink">
      <%= link_to 'Cancel', surveys_url, :class=>"cancelLink" %>
      <% if f.object.new_record? %>
        <%= image_submit_tag "Create-Survey.png", :alt=>"Create Survey" %>
      <% else %>
        <%= image_submit_tag "update-survey.png", :alt=>"Update Survey" %>
      <% end %>
    </div>

  <% end %>
</div>

<%= javascript 'invitation_preview.js' %>
<%= javascript 'start_page_preview.js' %>
