<div id="surveys">
	<%= form_for(@survey) do |f| %>
	  <% if @survey.errors.any? %>
	    <div id="error_explanation">
	      <%= render :partial => 'shared/question_errors', :locals => {:object => @survey} %>
	    </div>
		<% end %>
	
		<div class="left_side">
			<%= f.label :site_id, "Site: " %>
		</div>
		<div class="right_side">
			<%= f.collection_select :site_id, sorted_site_list, :id, :name, include_blank: true %>
		</div>
		<br />
		<div class="left_side">
			<%= f.label :name, "Name: " %>
		</div>
		<div class="right_side">
			<%= f.text_field :name %>
		</div>
		<br />
		<div class="left_side">
			<%= f.label :description, "Description: " %>
		</div>
		<div class="right_side">
			<%= f.text_area :description, :rows => 3 %>
		</div>
		<br />
		<div class="left_side">
			<%= f.label :survey_type_id, "Survey Type: " %>
		</div>
		<div class="right_side">
			<%= f.collection_select :survey_type_id, SurveyType.all, :id, :name_upcase %>
		</div>
	  
	  <div class="pageLink">
			<%= link_to 'Cancel', surveys_url, :class=>"cancelLink" %>
	  	<% if f.object.new_record? %>
	  		<%= f.submit "Create Survey", :type => :image, :src=>"/images/Create-Survey.png", :alt=>"Create Survey" %>
	  	<% else %>
	  		<%= f.submit "Update Survey", :type => :image, :src=>"/images/update-survey.png", :alt=>"Update Survey" %>
	  	<% end %>
		</div>

	<% end %>
</div>
