<% javascript 'survey_builder.js' %>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @survey.name %>
</p>

<p>
  <b>Description:</b>
  <%= @survey.description %>
</p>

<p>
  <b>Type:</b>
  <%= @survey.survey_type_id %>
</p>

<div id="survey_versions_fields" >
	<p>
		<b>Major:</b>
		<%= @survey.newest_version.major %>
	</p>
	<p>
		<b>Minor:</b>
		<%= @survey.newest_version.minor %>
	</p>
	<p>
		<b>Published:</b>
		<%= @survey.newest_version.published ? "Yes" : "No" %>
</div>

<div id="question_list">
	<%= render :partial => 'question_list', :locals => {:survey_version => @survey.newest_version} %>
</div>
<div>
<%= link_to "Add a free answer question", new_survey_version_text_question_path(@survey.newest_version), :id => "link_to_new_text_question" %> | 
<%= link_to "Add a multiple-choice question", new_survey_version_choice_question_path(@survey.newest_version), :id => "link_to_new_choice_question" %> | 
<%= link_to "Show", survey_path(@survey) %> | 
<%= link_to 'Back', surveys_path %>
</div>
<div id="new_choice_question_modal" style="display:none; margin-bottom: 10px">
	<%= render :partial => "choice_questions/new_choice_question" %>
</div>

<div id="new_text_question_modal" style="display:none; margin-bottom: 10px;">
	<%= render :partial => 'text_questions/new_text_question' %>
</div>