<p class="pageTitle">Edit Survey</p>

<% javascript 'survey_builder.js' %>

<p id="notice"><%= notice %></p>

<p class="copy">
  <span class="copyBold">Name:</span>
  <%= @survey.name %>
</p>

<p class="copy">
  <span class="copyBold">Description:</span>
  <%= @survey.description %>
</p>

<p class="copy">
  <span class="copyBold">Type:</span>
  <%= @survey.survey_type.name.capitalize %>
</p>

<div id="survey_versions_fields" >
	<p class="copy">
		<span class="copyBold">Version:</span>
		<%= @survey.newest_version.major %>.
		<%= @survey.newest_version.minor %>
	</p>
	<p class="copy">
		<span class="copyBold">Published:</span>
		<%= @survey.newest_version.published ? "Yes" : "No" %>
	</p>
</div>

<div id="question_list">
	<%= render :partial => 'question_list', :locals => {:survey_version => @survey.newest_version, :survey => @survey} %>
</div>