<p class="pageTitle">Edit Survey</p>

<% javascript 'survey_builder.js' %>

<p id="notice"><%= notice %></p>

<p class="copy">
  <span class="copyBold">Name:</span>
  <%= @survey.name %>
</p>

<p class="copyBoldMargin">
  Description:
  <span class="copy"><%= @survey.description %></span>
</p>

<p class="copyBoldMargin">
  Type:
  <span class="copy"><%= @survey.survey_type.name.capitalize %></span>
</p>

<div id="survey_versions_fields" >
	<p class="copyBoldMargin">
		Version:
		<span class="copy">	
			<%= @survey.newest_version.major %>.
			<%= @survey.newest_version.minor %>
		</span>
	</p>
	<p class="copyBoldMargin">
		Published:
		<span class="copy"><%= @survey.newest_version.published ? "Yes" : "No" %></span>
	</p>
</div>

<div id="question_list">
	<%= render :partial => 'question_list', :locals => {:survey_version => @survey.newest_version, :survey => @survey} %>
</div>


<div id="new_choice_question_modal" class="displayNone">
	<%= render :partial => "choice_questions/new_choice_question", :locals => {:survey => @survey} %>
</div>

<div id="new_text_question_modal" class="displayNone">
	<%= render :partial => 'text_questions/new_text_question', :locals => {:survey => @survey} %>
</div>

<div id="new_asset_modal" class="displayNone">
  <%= render :partial => 'assets/new_asset_fields', :locals => {:survey => @survey} %>
</div>

<div id="new_matrix_question_modal" class="displayNone">
	<%= render :partial => 'matrix_questions/new_matrix_question', :locals => {:survey => @survey } %>
</div>