<% javascript 'survey_builder.js' %>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @survey.name %>
</p>

<p>
  <b>Description:</b>
  <%= @survey.description %>
</p>

<p>
  <b>Type:</b>
  <%= @survey.survey_type_id %>
</p>

<div id="survey_versions_fields" >
	<p>
		<b>Major:</b>
		<%= @survey.newest_version.major %>
	</p>
	<p>
		<b>Minor:</b>
		<%= @survey.newest_version.minor %>
	</p>
	<p>
		<b>Published:</b>
		<%= @survey.newest_version.published ? "Yes" : "No" %>
	</p>
</div>

<div id="question_list">
	<%= render :partial => 'question_list', :locals => {:survey_version => @survey.newest_version, :survey => @survey} %>
</div>