<h1>All Surveys</h1>
<% flash.each do |msg, name| %>
  <%= flash[name] %>
<% end %>
<%= flash_messages(flash) %>

<div id="surveySearch">
  <%= form_tag surveys_path,:method => :get, :id => "searchSurveyForm" do %>
    <%= label_tag :q, "Search Surveys" %>
    <%= text_field_tag :q, params[:q] %>
    <%= link_to "View all surveys", surveys_path, :class=>"manage" %>
  <% end %>
</div>

<div class="page-nav">
  <%= link_to 'New Survey', new_survey_path, :class => "newlink" %>
</div>

<table id="surveyTable">
  <tr>
    <th class="col1" scope="col">Edit</th>
    <th class="col2" scope="col">Ver.</th>
    <th scope="col">Reports</th>
    <th class="col3" scope="col">
      <%= sortable "Survey" %>
      <span class="notation">(click to view responses)</span>
    </th>
    <th class="col4" scope="col">Description</th>
    <th class="col5" scope="col">Type</th>
    <th class="col6" scope="col">Site</th>
    <th class="col7" scope="col"></th>
  </tr>

<% @surveys.each do |survey| %>
  <tr class="<%= cycle('gray','white') %>">
    <td class="col1">
      <%= link_to image_tag('edit.png', :alt=>"edit"), edit_survey_path(survey) %>
    </td>
    <td class="col2">
      <%= link_to image_tag('version.png', :alt=>"view versions"),
        survey_survey_versions_path(survey) %>
    </td>
    <td>
      <%= get_reporting_link(survey, survey.published_version || survey.newest_version) %>
    </td>
    <td class="col3">
      <%= link_to survey.name,
        survey_responses_path(
          :survey_version_id => (survey.published_version || survey.survey_versions.last).id,
          :survey_id => survey.id
        )
      %>
    </td>
    <td class="col4">
      <%= truncate survey.description, length: 255, separator: ' ' %>
    </td>
    <td class="col5"><%= survey.survey_type.name.titleize %></td>
    <td class="col6"><%= survey.site.name %></td>
    <td class="col7">
      <%= link_to image_tag("delete.png", :alt=>"Delete"), survey,
        data: { confirm: 'Are you sure?' }, :method => :delete,
        :class=>"deleteLink" %>
    </td>
  </tr>
<% end %>
</table>

<%= paginate @surveys %>

<div class="page-nav">
  <%= link_to 'New Survey', new_survey_path, :class => "newlink" %>
</div>
