<div id="controls">
  <%= form_tag nil, id: "preview_controls" do %>
    <div class="actions">
      <%= grouped_collection_select "version", "select",
        current_user.surveys,
        "survey_versions.where(archived: false)",
        :name,
        :preview_url,
        :survey_name_with_version,
        prompt: "Select A Survey..."
      %>
    </div>
    <div class="actions">
      <%= label_tag :stylesheet_url, "Stylesheet Url:" %>
      <%= text_field_tag :stylesheet_url %>
      <%= submit_tag "Update" %>
    </div>
  <% end %>
</div>

<div id="survey_target">

</div>

<style>
  #survey_target {
    width: 100%;
    height: 500px;
  }
  iframe {
    width: 100%;
    height: 100%;
  }
</style>


<script type="text/javascript">
  $(function() {
    $("#preview_controls").submit(function(e) {
      if($("#version_select").val() != "") {
        removeExistingFrame();
        loadIframe($("#version_select").val(), $("#stylesheet_url").val());
      }
      e.preventDefault;
      return false;
    });
    $("#version_select").on("change", function(e) {
      removeExistingFrame();
      loadIframe($(this).val(), $("#stylesheet_url").val());
    });
  });

  function removeExistingFrame() {
    $("#survey_target").empty();
  }

  function loadIframe(previewUrl, cssUrl) {
    var iframe = document.createElement('iframe');
    iframe.src = previewUrl + "?stylesheetUrl=" + cssUrl;
    $("div#survey_target").append($(iframe));
  };
</script>
