<div id="controls">
  <%= form_tag nil, id: "preview_controls" do %>
    <div class="actions">
      <%= label_tag "version_select", "Survey:" %>
      <%= grouped_collection_select "version", "select",
        current_user.surveys,
        "survey_versions.where(archived: false)",
        :name,
        :preview_url,
        :survey_name_with_version,
        prompt: "Select A Survey..."
      %>
    </div>
    <div class="actions">
      <%= label_tag :stylesheet_url, "Stylesheet Url:" %>
      <%= text_field_tag :stylesheet_url %>
      <%= submit_tag "Update" %>
    </div>
  <% end %>
</div>

<div id="survey_target">
  <!-- iFrame preview will be inserted here -->
</div>

<%= content_for :head do %>
  <%= stylesheet_link_tag "preview.css" %>
<% end %>
<%= javascript_include_tag "preview.js" %>

