<% content_for :head do %>
  <%# add javascripts to the HEAD tag for flot charting support: http://www.flotcharts.org/ %>
  <!--[if lte IE 8]><%= javascript_include_tag 'excanvas.min.js' %><![endif]-->
  <%= javascript_include_tag 'jquery.flot.min.js' %>
  <%= javascript_include_tag 'jquery.flot.pie.min.js' %>
  <%= javascript_include_tag 'jquery.flot.time.js' %>
  <%# add javascript to the HEAD tag for Google Charts: https://developers.google.com/chart %>
  <%= javascript_include_tag 'https://www.google.com/jsapi' %>
  <%# add javascript and stylesheet to the HEAD tag for jQCloud: https://github.com/lucaong/jQCloud %>
  <%= javascript_include_tag 'jqcloud-1.0.4.min.js' %>
  <%= stylesheet_link_tag 'jqcloud.css' %>
<% end %>

<%# add the physical div to the page for each chart, alternate sides, and break between rows;
    this will need to be revisited when we handle something other than choice questions
    or different kinds of pie/bar charts %>
<% dashboard_elements.each do |dashboard_element| %>
  <%= render_dashboard_element(dashboard_element) %>

  <%# cycle("", "<br/>").html_safe %>
<% end %>
<div id="hover" class="dashboardHover"><span id="hoverValue"></span> <div id="hoverText"></div></div>

<%# put together the library invocations to render the dashboard elements %>
<% content_for :script do %>
  <script type="text/javascript">

    var hoverHandle;

    function hideHoverHint() {
      $("#hover").hide();
    }

    function showHoverHint(x, y, label, value, isPercent) {
      var $hover = $("#hover");

      if ($hover.is(":hidden")) {
        $hover.show();
      }

      $hover.css({ left: x + 25, top: y - 25 });
      $hover.find("#hoverValue").text(value + (isPercent ? "%" : "") + ":");
      $hover.find("#hoverText").text(label);

      clearTimeout(hoverHandle);
      hoverHandle = setTimeout(hideHoverHint, 4000);
    }

    <%# function pieElementLabelFormatter(label, series) {%>
    <%#         return '<div class="dashboardElementLabel"><div class="ellipse" title="' + label + '">' + label + '</div> <div class="bold">' + series.data[0][1] + '</div></div>';%>
    <%# }%>

    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawCharts);
    function drawCharts() {
      var pieOptions = {
        tooltip: {text: 'value'} <%#Only show the value in the tooltip (which is hacked to be the text, value, and percent) %>
      };

      var barOptions = {
        xaxis: {
          minTickSize: 1,
          tickDecimals: 0,
          show: false
        },
        yaxis: {
          tickDecimals: 0
        },
        series: {
          bars: {
            show: true,
            barWidth: 0.7,
            align: "center"
          }
        },
        legend: {
          show: true
        },
        grid: {
          hoverable: true,
          clickable: true
        }
      };
      var lineOptions = {
        xaxis: {
          minTickSize: [1, "day"],
          timeformat: "%m/%d/%y",
          mode: "time"
        },
        yaxis: {
          tickDecimals: 0
        },
        series: {
          lines: {
            show: true
          },
          points: {
            show: true
          }
        },
        legend: {
          show: true
        },
        grid: {
          hoverable: true,
          clickable: true
        }
      };
      <%= generate_dashboard_data_script(dashboard_elements) %>
    };
    $(window).load(function() {
      $(".dashboardElement").bind("plothover", function(event, pos, obj) {
        if (!obj) { return; }
        if (obj.series.lines.show) {
          d = new Date(parseInt(obj.datapoint[0]))
          dStr = (d.getMonth() + 1) + "/" + d.getDate() + "/" + d.getFullYear();
          dStr += " - " + obj.datapoint[1]
          showHoverHint(pos.pageX, pos.pageY, obj.series.label, dStr, false);
        } else if (obj.series.percent) {
          showHoverHint(pos.pageX, pos.pageY, obj.series.label, parseFloat(obj.series.percent).toFixed(2), true);
        } else {
          showHoverHint(pos.pageX, pos.pageY, obj.series.label, obj.series.count, false);
        }
      });

    });
  </script>
<% end %>
