<%# add javascripts to the HEAD tag for flot charting support: http://www.flotcharts.org/ %>
<% content_for :head do %>
  	<!--[if lte IE 8]><%= javascript_include_tag 'excanvas.min.js' %><![endif]-->
  	<%= javascript_include_tag 'jquery.flot.min.js' %>
  	<%= javascript_include_tag 'jquery.flot.pie.min.js' %>
  	<%# javascript_include_tag 'jquery.flot.js' %>
  	<%# javascript_include_tag 'jquery.flot.pie.js' %>
<% end %>

<%# add the physical div to the page for each chart, alternate sides, and break between rows %>
<% charts.each do |chart| %>
	<div class="pieChartDiv">
		<h3 style="margin-left: 18px;"><%= truncate chart.survey_element.reporter.question, :length => 40, :separator => ' ', :omission => "..." %></h3>
		<div id="pieChart_<%= chart.id %>" class="pieChart"></div>
	</div>
	<%= cycle("", "<br/>").html_safe %>
<% end %>
<div id="hover" class="pieHover"></div>

<%# put together the library invocations to render the pie charts %>
<% content_for :script do %>
	<script type="text/javascript">
		var hoverHandle;

		function hideHoverHint() {
			$("#hover").hide("slow");
		}

		function showHoverHint(x, y, label, percent) {
			var $hover = $("#hover");

			if ($hover.is(":hidden")) {
				$hover.show("fast");
			}

			$hover.css({ left: x - 25, top: y - 25 });
			$hover.text(percent + "%: " + label);

			clearTimeout(hoverHandle);
			hoverHandle = setTimeout(hideHoverHint, 2000);
		}

		$(window).load(function() {
			<%= generatePieChartsJS(charts) %>

			$(".pieChart").bind("plothover", function(event, pos, obj) {
				if (!obj) { return; }

				var percent = parseFloat(obj.series.percent).toFixed(2);

				showHoverHint(pos.pageX, pos.pageY, obj.series.label, percent);
			});
		});
	</script>
<% end %>