<%# add javascripts to the HEAD tag for flot charting support: http://www.flotcharts.org/ %>
<% content_for :head do %>
  	<!--[if lte IE 8]><%= javascript_include_tag 'excanvas.min.js' %><![endif]-->
  	<%= javascript_include_tag 'jquery.flot.min.js' %>
  	<%= javascript_include_tag 'jquery.flot.pie.min.js' %>
  	<%# javascript_include_tag 'jquery.flot.js' %>
  	<%# javascript_include_tag 'jquery.flot.pie.js' %>
<% end %>

<%# add the physical div to the page for each chart, alternate sides, and break between rows %>
<% charts.each do |chart| %>
	<div class="pieChartDiv">
		<h4 class="pieChartHeader ellipse" title="<%= chart.survey_element.reporter.question %>"><%= chart.survey_element.reporter.question %></h4>
		<div id="pieChart_<%= chart.id %>" class="pieChart"></div>
	</div>
	<%= cycle("", "<br/>").html_safe %>
<% end %>
<div id="hover" class="pieHover"><span id="hoverPercent"></span> <div id="hoverText"></div></div>

<%# put together the library invocations to render the pie charts %>
<% content_for :script do %>
	<script type="text/javascript">
		var hoverHandle;

		function hideHoverHint() {
			$("#hover").hide();
		}

		function showHoverHint(x, y, label, percent) {
			var $hover = $("#hover");

			if ($hover.is(":hidden")) {
				$hover.show();
			}

			$hover.css({ left: x + 25, top: y - 25 });
			$hover.find("#hoverPercent").text(percent + "%:");
			$hover.find("#hoverText").text(label);

			clearTimeout(hoverHandle);
			hoverHandle = setTimeout(hideHoverHint, 1200);
		}

		function pieChartLabelFormatter(label, series) {
            return '<div class="pieChartLabel"><div class="ellipse" title="' + label + '">' + label + '</div> <div class="bold">' + series.data[0][1] + '</div></div>';
		}

		var pieOptions = {
             series: {
               pie: {
                 show: true
               }
             },
             grid: {
               hoverable: true
             },
             legend: {
               show: true,
               labelFormatter: pieChartLabelFormatter
             }
        };

		$(window).load(function() {
			<%= generatePieChartsJS(charts) %>

			$(".pieChart").bind("plothover", function(event, pos, obj) {
				if (!obj) { return; }

				var percent = parseFloat(obj.series.percent).toFixed(2);

				showHoverHint(pos.pageX, pos.pageY, obj.series.label, percent);
			});
		});
	</script>
<% end %>
