<h1>View Dashboard</h1>
<%= flash_messages(flash) %>

<div class="page-nav">
	<%= link_to image_tag("edit.png", :alt=>"edit") + " Edit", edit_survey_survey_version_dashboard_path(@survey, @survey_version), :class=>"manage" %>
	<%= link_to "Return to Reporting", reporting_survey_survey_version_path(@survey, @survey_version), :class=>"manage" %>
</div>

<div id="showpage">
	<div class="left_side">
		Survey:
	</div>
	<div class="right_side">
		<p class="blue"><%= @survey.name.titleize %></p>
	</div>
	<br />
	<div class="left_side">
		Version:
	</div>
	<div class="right_side">
		<p class="version"><%= @survey_version.version_number%></p>
	</div>
	<br />
	<div class="left_side">
		Dashboard Name:
	</div>
	<div class="right_side">
		<p class="blue"><%= @dashboard.name %></p>
	</div>
	<br />
	<%= render partial: "pie_chart", locals: { charts: @dashboard.dashboard_elements } %>
</div>

<div class="page-nav">
	<%= link_to image_tag("edit.png", :alt=>"edit") + " Edit", edit_survey_survey_version_dashboard_path(@survey, @survey_version), :class=>"manage" %>
	<%= link_to "Return to Reporting", reporting_survey_survey_version_path(@survey, @survey_version), :class=>"manage" %>
</div>
