<div id="advanced_search" style="<%= (params[:search].blank? or params[:search][:criteria].all? {|k,v| v[:value].blank?}) ? 'display: none;' : '' %>">
  <div class="boxtitle">
    Advanced Search
    <span class="float_right"><%= link_to "Clear Settings",
      survey_responses_path(:survey_id => version.survey_id, :survey_version_id => version.id), :class=>"manage" %>
    </span>
  </div>

  <%= form_tag survey_responses_path, :method => :get, :remote => true, :id => "advanced_search_form" do %>
    <%= hidden_field_tag "survey_version_id", version.id, :id => nil %>
    <%= hidden_field_tag "survey_id", version.survey_id, :id => nil %>

    <div id="searchCriterias">
      <% if params[:search].blank? || @search.criteria.empty? %>
        <div class="searchCriteria">
          <%= select_tag "search[criteria][0][include_exclude]",
            options_for_select([ ['Include', 1], ['Exclude', 0]])
          %>
          <%= select_tag "search[criteria][0][display_field_id]",
            options_from_collection_for_select(
              [
                Struct.new(:id, :name).new('page_url', 'Page URL'),
                Struct.new(:id, :name).new('created_at', 'Date'),
                Struct.new(:id, :name).new('survey_response_id', "Response ID")
              ].concat((@custom_view || version).display_fields.map {|df|
                  Struct.new(:id, :name).new("df_#{df.id}", df.name)
                }),
              :id,
              :name
            ) %>
          <%= select_tag "search[criteria][0][condition]",
                options_for_select( [
                  ['Exactly Matches', 'equals'],
                  ['Containing', 'contains'],
                  ['Begins With', 'begins_with'],
                  ['Ends With', 'ends_with'],
                  ['Less Than', 'less_than'],
                  ['Greater Than', 'greater_than']
                ],
              ) %>
          <%= text_field_tag "search[criteria][0][value]" %>
        </div>
      <% else %>
        <% @search.criteria.keys.each_with_index do |criteria_index, index| %>
          <%= render :partial => 'survey_responses/criteria_fields',
            :locals => { :criteria_index => criteria_index, :version => version, :index => index }
          %>
        <% end # params[:search].each %>

      <% end # if else %>
    </div>
    <br />
    <div>
      <%= link_to "Add Criteria", "javascript:void(0);", class: "manage",
        onclick: "add_search_criteria(this, '#{escape_javascript(
          render(
            partial: 'survey_responses/criteria_fields',
            locals: {
              version: version,
              criteria_index: 'new_criteria_index',
              index: 'new_index'
            }
          )
        )}');" %>
    </div>
    <br />
    <div>
      <%= submit_tag "Search" %>
    </div>
  <% end %>
  <%= render partial: "saved_search", locals: { version: version  } %>
</div>
