<div class="page-nav">
    <%= link_to "Export to CSV", export_csv_survey_responses_path(
        :survey_version_id => version,
        :order_column => params[:order_column],
        :order_dir => params[:order_dir],
        :search => params[:search],
        :custom_view_id => params[:custom_view_id],
        :simple_search => params[:simple_search]
      ),
      :class => "manage",
      :remote => true
    %>
    <%= link_to "Export to XLS", export_xls_survey_responses_path(
        :survey_version_id => version,
        :order_column => params[:order_column],
        :order_dir => params[:order_dir],
        :search => params[:search],
        :custom_view_id => params[:custom_view_id],
        :simple_search => params[:simple_search]
      ),
      :class => "manage",
      :remote => true
    %>
  <%= link_to "Manage Rules", survey_survey_version_rules_path(version.survey, version), :class=>"manage" %>
  <%= link_to "Manage Display Fields", survey_survey_version_display_fields_path(version.survey, version), :class=>"manage" %>
  <% custome_view_id = "custome_view_#{Object.new.object_id}" %>
  <%= label_tag "custom_view_id", "Select View: ", :class=>"looklikelink", :for => custome_view_id %>
  <%= select_tag "custom_view", "<option value='0'>Standard View</option>".html_safe + options_from_collection_for_select(version.custom_views, :id, :name, (params[:custom_view_id].blank?) ? Proc.new {|cv| cv.default? } : params[:custom_view_id]), :class=>"manage", :id => custome_view_id %>
  <%= link_to "Add New View", new_survey_survey_version_custom_view_path(version.survey, version), :class=>"manage" %>
  <span class="looklikelink"><%= get_edit_current_view_link(version, @custom_view) %></span>
  <span class="looklikelink"><%= get_delete_current_view_link(version, @custom_view) %></span>
</div>
