<%  unless version_id.nil? %>	
	<% version = SurveyVersion.find(version_id) %>
	<table>
	  <tr>
	  	<th class="date">Date</th>
	  	<% version.display_fields.each do |df| %>
			  <th class="questions"><%= df.name %></th>
			<% end -%>
			<% objects.each do |sr| %>
			  <tr class="<%= cycle('white','blue')%>">
			  	<td><%= sr.created_at.strftime("%m/%d/%Y") %></td>
			  	<% sr.display_field_values.joins(:display_field).order("display_fields.display_order asc").each do |dfv| %>
					  <td id="<%= 'displayFieldValue_' << dfv.id.to_s %>" ondblclick="editDisplayFieldValue(<%= version.survey.id %>,<%= version.id %>,<%= dfv.id %>)">
					  	<%= dfv.value %>
					  </td>
					<% end -%>
			  </tr>
			<% end -%>
	  </tr>
	</table>
	
	<%= paginate objects, :remote => true %>
	
	<div class="pageNav">
		<%= link_to "Manage Rules", survey_survey_version_rules_path(version.survey, version), :class=>"pageNav" %> | 
		<%= link_to "Manage Display Fields", survey_survey_version_display_fields_path(version.survey, version), :class=>"pageNav" %> | 
		<%= link_to "Export as CSV", survey_responses_path(:format => :csv, :survey_version_id=>version), :class=>"pageNav" %>
	</div>
	
	<div id="dfv_edit_modal" style="display: none;">&nbsp;</div>
<% end %>
