<%  unless version_id.nil? %>	
<% version = SurveyVersion.find(version_id) %>



<table border="1px">
  <tr>
  	<th>Date</th>
  	<% version.display_fields.each do |df| %>
		  <th><%= df.name %></th>
		<% end -%>
		<% version.survey_responses.order("created_at desc").each do |sr| %>
		  <tr>
		  	<td><%= sr.created_at.strftime("%m/%d/%Y") %></td>
		  	<% sr.display_field_values.joins(:display_field).order("display_fields.display_order asc").each do |dfv| %>
				  <td>
				  	<%= dfv.value %>
				  </td>
				<% end -%>
		  </tr>
		<% end -%>
  </tr>
</table>




<br/><br/>
<table>
	<tr>
		<th>Date</th>
		<th>client_id</th>
		<% questions = version.questions.collect {|q| q.assetable.question_content} %>
		<% questions.each do |question| %>
		<th><%= question.statement %>(<%= question.id %>)</th>
		<% end -%>
	</tr>
	
	<% objects.each do |survey_response| %>
	 <tr>
		<td><%= survey_response.created_at.strftime("%m-%d-%Y") %></td>
	 	<td><%= survey_response.client_id[0..5] %></td>
		<% for question in questions %>
		  <td>
				<%= display_question_answer(survey_response.raw_responses.find_by_question_id(question.id)) %>
		  </td>
		<% end -%>
	 </tr>
	<% end %>
</table>

<%= link_to "Manage Rules", survey_survey_version_rules_path(version.survey, version) %> | 
<%= link_to "Manage Display Fields", survey_survey_version_display_fields_path(version.survey, version) %>
<% end %>