<%  unless version_id.nil? %>	
	<% version = SurveyVersion.find(version_id) %>
	<%= hidden_field_tag :search, params[:search] %>
	<%= hidden_field_tag :order_column, @order_column_id %>
	<%= hidden_field_tag :order_dir, @order_dir %>
	<table summary="this table is used to display the results of a survey">
	  <tr>
	  	<th class="col1"></th>
	  	<th><%= sortable_display_field 'created_at', 'Date' %></th>
			<th><%= sortable_display_field 'page_url', 'Page URL' %></th>
	  	<% version.display_fields.order(:display_order).each do |df| %>
			  <th><%= sortable_display_field df.name %></th>
			<% end -%>
			<% objects.each do |sr| %>
			  <tr class="<%= cycle('white','blue')%>">
			  	<td class="col1"><%= link_to image_tag("red_x.png"), survey_response_path(sr, :page => params[:page]), :method => :delete, :remote => true, :class => "archive_link" %></td>
			  	<td><%= sr.created_at.strftime("%m/%d/%Y - %T") %></td>
				  <td><%= sr.page_url %></td>
			  	<% sr.display_field_values.joins(:display_field).order("display_fields.display_order asc").each do |dfv| %>
					  <td id="<%= 'displayFieldValue_' << dfv.id.to_s %>" ondblclick="editDisplayFieldValue(<%= version.survey.id %>,<%= version.id %>,<%= dfv.id %>)">
					  	<%= dfv.value ? dfv.value.gsub("{%delim%}", ', ') : "" %>
					  </td>
					<% end -%>
			  </tr>
			<% end -%>
	  </tr>
	</table>
	
	<%= paginate objects, :remote => true %>
	
	<div class="pageNav">
		<%= link_to "Manage Rules", survey_survey_version_rules_path(version.survey, version), :class=>"pageNav" %> | 
		<%= link_to "Manage Display Fields", survey_survey_version_display_fields_path(version.survey, version), :class=>"pageNav" %> | 
		<%= link_to "Export as CSV", export_all_survey_responses_path(:format => :csv, :survey_version_id => version, :order_column => params[:order_column],
			:order_dir => params[:order_dir], :search => params[:search]), :class => "pageNav", :id => "ExportCSV", :remote => true %>
	</div>
	
	<div id="dfv_edit_modal" style="display: none;">&nbsp;</div>
<% end %>
