<%  unless version_id.nil? %>	
	<% version = SurveyVersion.find(version_id) %>
	<%= hidden_field_tag :search, params[:search] %>
	<%= hidden_field_tag :order_column, @order_column_id %>
	<%= hidden_field_tag :order_dir, @order_dir %>

	<div id="advanced_search">
		<p class="copyBold">Advanced Search</p><br />

		<%= form_tag survey_responses_path, :method => :get, :remote => true, :id => "advanced_search_form" do %>
			<%= hidden_field_tag "survey_version_id", version.id %>
			<%= hidden_field_tag "survey_id", version.survey_id %>
			
			<div id="searchCriterias">
				
				<% if params[:search].blank? || @search.criteria.empty? %>
					<%= select_tag "search[criteria][0][include_exclude]", options_for_select([ ['Include', 1], ['Exclude', 0]], :selected => ((params[:search].blank? or params[:search][:criteria]['0'].blank?) ? '' : params[:search][:criteria]['0'][:include_exclude].to_i)) %>
					<%= select_tag "search[criteria][0][display_field_id]", options_from_collection_for_select(version.display_fields, :id, :name, :selected => ((params[:search].blank? or params[:search][:criteria]['0'].blank?) ? '' : params[:search][:criteria]['0'][:display_field_id])) %>
					<%= select_tag "search[criteria][0][condition]", options_for_select( [['Exactly Matches', 'equals'], ['Containing', 'contains'], ['Begins With', 'begins_with'], ['Ends With', 'ends_with'], ['Less Than', 'less_than'], ['Greater Than', 'greater_than']],
							:selected => ((params[:search].blank? or params[:search][:criteria]['0'].blank?) ? '' : params[:search][:criteria]['0'][:condition]) ) %>
					<%= text_field_tag "search[criteria][0][value]", ((params[:search].blank? or params[:search][:criteria]['0'].blank?) ? '' : params[:search][:criteria]['0'][:value]) %>			
				<% else %>
					<% @search.criteria.keys.each_with_index do |criteria_index, index| %>
						<%= render :partial => 'criteria_fields', :locals => { :criteria_index => criteria_index, :version => version, :index => index } %>
					<% end # params[:search].each %>

				<% end # if else %>
			</div>
			<br />
			<div><%= link_to_function "Add Criteria", "add_search_criteria(this, '#{escape_javascript(render(:partial => 'criteria_fields', :locals => {:version => version, :criteria_index => 'new_criteria_index', :index => 'new_index'}))}')", :class=>"surveyNav" %></div>

			<div style="text-align: right;"><%= submit_tag "Search" %></div>
		<% end %>

	</div>


	<div id="survey_response_table_div">
	<table summary="this table is used to display the results of a survey">
	  <tr>
	  	<th class="col1"></th>
	  	<th><%= sortable_display_field 'survey_responses.created_at', 'Date' %></th>
			<th><%= sortable_display_field 'page_url', 'Page URL' %></th>
	  	<% version.display_fields.order(:display_order).each do |df| %>
			  <th><%= sortable_display_field df.name %></th>
			<% end -%>
			<% objects.each do |sr| %>
			  <tr class="<%= cycle('white','blue')%>">
			  	<td class="col1">
			  		<%= link_to image_tag("red_x.png"), survey_response_path(sr, :page => params[:page]), :method => :delete, :remote => true, :class => "archive_link", :confirm => "Are you sure you want to remove this record>?" %>
			  		<%= link_to image_tag("edit.png"), edit_survey_response_path(sr.id, :page => params[:page]) %>
			  	</td>
			  	<td><%= sr.created_at.strftime("%m/%d/%Y - %T") %></td>
				  <td><%= sr.page_url %></td>
			  	<% sr.display_field_values.joins(:display_field).order("display_fields.display_order asc").each do |dfv| %>
					  <td class="<%= dfv.display_field.editable? ? 'editable' : '' %>" id="<%= 'displayFieldValue_' << dfv.id.to_s %>" <%= dfv.display_field.editable? ? "ondblclick=editDisplayFieldValue(#{version.survey.id},#{version.id},#{dfv.id})" : "" %>>
							<%= link_to image_tag("/images/edit.png"), [:edit, version.survey, version, dfv], :remote => true, :class => "editDisplayFieldValue" if dfv.display_field.editable %>
					  	<%= sanitize(dfv.value ? dfv.value.gsub("\n", "{%delim%}").gsub("{%delim%}",  "<br/>") : "" )%>
					  </td>
					<% end -%>
			  </tr>
			<% end -%>
	  </tr>
	</table>
</div>
	
	<%= paginate objects, :remote => true %>
	
	<div class="pageNav">
		<%= link_to "Manage Rules", survey_survey_version_rules_path(version.survey, version), :class=>"pageNav" %> | 
		<%= link_to "Manage Display Fields", survey_survey_version_display_fields_path(version.survey, version), :class=>"pageNav" %> | 
		<%= link_to "Export as CSV", export_all_survey_responses_path(:survey_version_id => version, :order_column => params[:order_column],
			:order_dir => params[:order_dir], :search => params[:search]), :class => "pageNav", :id => "ExportCSV", :remote => true %>
	</div>
	
	<div id="dfv_edit_modal" style="display: none;">&nbsp;</div>
<% end %>