<% javascript 'best_in_place' %>
<% javascript 'survey_responses' %>

<h1>Survey Responses</h1>


  <%= label_tag "survey_id", "Survey: " %>
  <%= select_tag "survey_id",
    options_from_collection_for_select(current_user.surveys.get_alpha_list,
                                       :id, :name, params[:survey_id].to_i),
    :include_blank => true %>

  <%= label_tag "survey_version_id", "Version: "%>
  <%= select_tag "survey_version_id", "", :include_blank => true %>

  <%= link_to "Refresh", "javascript:void(0);",
    onclick: "refreshSurveyResponseTable()", class: "manage" %>

<div id="survey_response_list">
  <%= render :partial => "survey_response_list", :locals => {
    :objects => @survey_responses, :version_id => @survey_version,
    :search => @search } %>
</div>
