<% javascript 'survey_responses' %>
<p class="pageTitle">Survey Responses</p>

<p class="copyBold"><%= label_tag "survey_id", "Survey: " %>
<%= select_tag "survey_id", options_from_collection_for_select(Survey.all, :id, :name), :include_blank => true %>

<%= label_tag "survey_version_id", "Version: "%>
<%= select_tag "survey_version_id", nil %>

<%= link_to_function "Refresh", "refreshSurveyResponseTable()", :class=>"surveyNav"%>
</p>

<p id="sr_search">
  <div style="display: none"><%= label_tag :search, "Search" %></div>
	<%= text_field_tag :search, params[:search] %>
	<%= link_to "Search", nil, :id => "search_link", :class=>"surveyNav"%>
</p>

<div id="survey_response_list">
	<%= render :partial => "survey_response_list", :locals => {:objects => @survey_responses, :version_id => @survey_version} %>
</div>