<%= form_for @category do |f| %>
  <%= f.error_messages %>
  <p class="copy">
    <span class="copyBold"><%= f.label :name, "Name:" %></span><br />
    <%= f.text_field :name %>
  </p>
  <p class="sumbitButton"><%= f.submit %></p>
<% end %>
