<%= form_for @category do |f| %>
  <% if @category.errors.any? %>
		<div class="modalErrorBox">
			<p class="modalErrorTitle"><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</p>
			<ul class="modalList">
				<% @category.errors.full_messages.each do |msg| %>
				  <li class="modalList"><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>


  <p class="copy">
    <span class="copyBold"><%= f.label :name, "Name:" %></span><br />
    <%= f.text_field :name %>
  </p>
  <p class="sumbitButton"><%= f.submit %></p>
<% end %>
