<p class="pageTitle">All Categories</p>

<table id="categoryTable">
  <tr>
    <th class="col1" colspan="4">Name</th>
  </tr>
  <% for category in @categories %>
    <tr class="<%= cycle('white','blue') %>">
      <td class="col1"><%= category.name %></td>
      <td class="col2-4"><%= link_to "Show", category %></td>
      <td class="col2-4"><%= link_to "Edit", edit_category_path(category) %></td>
      <td class="col2-4"><%= link_to "Destroy", category, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<div class="pageNav">
	<%= link_to "New Category", new_category_path, :class => "pageNav" %>
</div>
