<p>
  <%= f.label :display_field_id, "Update" %>
  <%= f.collection_select :display_field_id, survey_version.display_fields, :id, :name %>
	<%= f.label :value, " with "%>
	<%= f.select :value, @survey_version.questions.map {|x| [x.assetable.question_content.statement + " response", "Q_#{x.assetable.question_content.id}_Q"]}, :include_blank => true %> OR 
	<%= f.text_field :value %>

 </p>