<p class="pageTitle">Rules for <%= @survey.name %>, version <%= @survey_version.version_number%></p>
<div class="pageNav-upper">
	<%= link_to "Add New Rule", new_survey_survey_version_rule_path(@survey, @survey_version), :class=>"pageNav"%> | 
	<%= link_to "View Survey Responses", survey_responses_path(:survey_id => @survey.id, :survey_version_id => @survey_version.id), :class=>"pageNav"%>
</div>

<table id="rulesTable">
	<tr>
		
		<th class="col1">Name</th>
		<th colspan="5">Order</th>
	</tr>
<% @rules.each do |rule| %>
  <tr class="<%= cycle('white','blue') %>">
  	<td class="col1"><%= rule.name %></td>
  	<td class="col2"><%= rule.rule_order%></td>
		<td class="col3-5"><%= link_to "Show", [@survey, @survey_version, rule] %></td>
		<td class="col3-5"><%= link_to "Edit", edit_survey_survey_version_rule_path(@survey, @survey_version, rule)%></td>
		<td class="col3-5"><%= link_to "Delete", [@survey, @survey_version, rule], :method => :delete %></td>
		<td class="col6"><%#= link_to "Run Now", do_now_survey_survey_version_rule_path(@survey, @survey_version, rule) %></td>
  </tr>
<% end %>
</table>
<div class="pageNav">
	<%= link_to "Add New Rule", new_survey_survey_version_rule_path(@survey, @survey_version), :class=>"pageNav"%> | 
	<%= link_to "View Survey Responses", survey_responses_path(:survey_id => @survey.id, :survey_version_id => @survey_version.id), :class=>"pageNav"%>
</div>
