<% javascript 'rules.js' %>

<p class="pageTitle">New Rule</p>

<%= form_for [@survey, @survey_version, @rule] do |f| %>
  <% if @rule.errors.any? %>
    <div id="error_explanation">
      <%= render :partial => 'shared/question_errors', :locals => {:object => @rule} %>
    </div>
  <% end %>
  <p class="copy">
  	<span class="copyBold"><%= f.label :name, "Name: " %></span><br />
		<%= f.text_field :name%>
  </p>  
  
  <p class="copyBold">This rule will execute when a survey is: </p>
  <p class="copy">
  	<% ExecutionTrigger.all.each do |et| %>
  		<% unless et.id == 3 %>
  			<%= check_box_tag(:execution_trigger_id, et.id.to_s, @rule.execution_triggers.include?(et), :name=>"rule[execution_trigger_ids][]") %><%= et.name.capitalize %>
  		<% end %>
  	<% end %>
  </p>

  <p class="copyBold">Criteria:</p>
	  <div id="criteria">
				<%= f.fields_for :criteria do |builder| %>
		    	<%= render :partial => "shared/criterion_fields", :locals => {:f => builder} %>
				<% end -%>
				<div style="margin-top: 10px"><%= link_to_add_fields "Add Criteria", f, :criteria %></div>
		</div>

	
	<br/>
	
	<p class="copyBold">Actions:</p>
	<div id="actions">
		<%= f.fields_for :actions do |builder| %>
		 <%= render :partial => "shared/action_fields", :locals => {:f => builder, :survey_version => @survey_version}%>
		<% end %>
	 	<div style="margin-top: 10px"><%= link_to_add_fields "Add Action", f, :actions %></div>
	</div>
	
	<br/>
	
	<%= f.submit %>
<% end -%>

<div class="pageNav">
	<%= link_to "Cancel", survey_survey_version_rules_path(@survey, @survey_version), :class=>"pageNav"%>
</div>
