<h2>Rule: <%= @rule.name %></h2>

<b>Name:</b><%= @rule.name%><br/>
<b>Order:</b><%= @rule.rule_order%><br/>
<b>Triggers:</b>
<ul>
	<% @rule.execution_triggers.each do |et| %>
		<li><%= et.name.capitalize %></li>
	<% end %>
</ul>
<b>Criteria</b>
<ol>
<% for criterion in @rule.criteria %>
  <li>
    <%= criterion.source.get_display_field_header %> <%= criterion.conditional.name %>  <%= criterion.value %>
	</li>
<% end %>
</ol>

<b>Actions</b>
<ol>
<% for action in @rule.actions %>
  <li>
  	Set <%= action.display_field.name %> to <%= action.value %>
	</li>
<% end %>
</ol>

<div class="pageNav">
	<%= link_to "All Rules", survey_survey_version_rules_path(@survey, @survey_version), :class=>"pageNav"%>
</div>
