<p class="pageTitle">Rule: <%= @rule.name %></p>

<p class="copy"><span class="copyBold">Name: </span><%= @rule.name%></p>

<p class="copyBoldMargin">Order: <span class="copy"><%= @rule.rule_order%></span></p>

<p class="copyBoldMargin">Triggers:</p>
<ul class="showList">
	<% @rule.execution_triggers.each do |et| %>
		<li class="showList-ul"><%= et.name.capitalize %></li>
	<% end %>
</ul>

<p class="copyBoldMargin">Criteria:</p>
<ol class="showList">
	<% for criterion in @rule.criteria %>
	  <li class="showList-ol">
	    <%= criterion.source.get_display_field_header %> 
	    <%= criterion.conditional.name %> 
	    <%= criterion.value %>
		</li>
	<% end %>
</ol>

<p class="copyBoldMargin">Actions:</p>
<ol class="showList">
	<% for action in @rule.actions %>
	  <li class="showList-ol">
	  	Set <%= action.display_field.name %> 
	  	to <%= action.value %>
		</li>
	<% end %>
</ol>

<div class="pageNav">
	<%= link_to "Edit Rule", edit_survey_survey_version_rule_path(@survey, @survey_version), :class=>"pageNav"%> | 
	<%= link_to "All Rules", survey_survey_version_rules_path(@survey, @survey_version), :class=>"pageNav"%>
</div>
