<%= form_for @site do |f| %>
	<% if @site.errors.any? %>
	  <div id="error_explanation">
	    <%= render :partial => 'shared/question_errors', :locals => {:object => @site} %>
	  </div>
	<% end %>

	<div id="form_widths">
		<p class="copy">
	    <span class="copyBold"><%= f.label :name, "Name: " %></span><br />
			<%= f.text_field :name %>
		</p>
	  <p class="copyBoldMargin">
			<%= f.label :url, "URL: " %><br />
			<%= f.text_field :url %>
		</p>
	  <p class="copyBoldMargin">
			<%= f.label :description, "Description: " %><br/>
			<%= f.text_area :description %>
		</p>
	</div>
	<p class="sumbitButton"><%= f.submit %></p>
<% end %>