<h1>Site Details</h1>
<%= flash_messages(flash) %>

<div id="surveys">
	<div class="left_side">
		Name:
	</div>
	<div class="right_side">
		<p class="blue"><%= @site.name %></p>
	</div>
	<br />
	<div class="left_side">
		URL:
	</div>
	<div class="right_side">
		<p class="blue"><%= @site.url %></p>
	</div>
	<br />
	<div class="left_side">
		Description:
	</div>
	<div class="right_side">
		<p><%= @site.description %></p>
	</div>
</div>
<div class="page-nav">
  <%= link_to image_tag("edit.png", :alt=>"edit") + " Edit", edit_site_path(@site), :class=>"manage" %>
  <%= link_to "View All Sites", sites_path, :class=>"manage" %>
</div>

