<%= flash_messages(flash) %>
<% if @user_session.errors.any? %>
  <div id="error_explanation">
    <p class="title"><%= pluralize(@user_session.errors.count, "error") %> prohibited this login:</p>
    <ul class="list">
      <% @user_session.errors.full_messages.each do |msg| %>
        <li class="list"><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<div class="login_box">
  <p class="bold">GSA VOC Tool Login</p>
  <%= form_for @user_session, :url => {:action => "create"} do |f| %>
    <div class="left_side">
      <p><%= f.label :username, "Username:"%></p>
    </div>
    <div class="right_side">
      <%= f.text_field :username, { autocomplete: "off" } %>
    </div>
    <br />
    <div class="left_side">
      <p><%= f.label :password, "Password:" %></p>
    </div>
    <div class="right_side">
      <%= f.password_field :password, { autocomplete: "off" } %>
    </div>
    <br />
    <div class="options">
      <%= image_submit_tag "sign-in.png", :alt=>"Login" %>
      <p class="reset"><a href="/reset_password" title="Request that new password be sent to you." >Reset Password?</a></p>
    </div>
  <% end %>
</div>
