<p class="pageTitleLogin">HHS VOC Tool Login</p>

<%= flash_messages(flash) %>
<% if @user_session.errors.any? %>
	<div id="error_explanation" class="modalErrorBox">
	  <p class="modalErrorTitle"><%= pluralize(@user_session.errors.count, "error") %> prohibited this login:</p>
      <ul class="modalList">
      <% @user_session.errors.full_messages.each do |msg| %>
        <li class="modalList"><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

<div class="loginBox">
<%= form_for @user_session, :url => {:action => "create"} do |f| %>
	<p class="copyBold">
		<%= f.label :email, "Email:"%><br />
		<%= f.text_field :email %>
	</p>
	<p class="copyBoldMargin">
		<%= f.label :password, "Password:" %><br />
		<%= f.password_field :password %>
	</p>
	<p class="sumbitButton"><%= f.submit "Login" %></p>
	<p><a href="/reset_password" title="Request that new password be sent to you.">Reset Password</a></p>
<% end %>
</div>

