<% javascript 'dashboard.js' %>

<% if @report.errors.any? %>
  <%= render('shared/errors', {object: @report, object_type: 'report'}) %>
<% end %>

<%= form_for [@survey, @survey_version, @report] do |f| %>
  <%= field_set_tag "Options" do %>
    <div class="left_side">
      <%= f.label :name, "Name: " %>
    </div>
    <div class="right_side">
      <%= f.text_field :name %>
    </div>
    <br/>
    <div class="left_side">
      <%= f.label :start_date, "Start Date: " %>
    </div>
    <div class="right_side">
      <%= f.text_field :start_date, :value => @report.start_date_str, :class => "datepicker" %>
    </div>
    <br/>
    <div class="left_side">
      <%= f.label :end_date, "End Date: " %>
    </div>
    <div class="right_side">
      <%= f.text_field :end_date, :value => @report.end_date_str, :class => "datepicker" %>
    </div>
    <br/>
    <div class="left_side">
      <%= f.label :limit_answers, "Limit Answers: " %>
    </div>
    <div class="right_side">
      <%= f.check_box :limit_answers %>
    </div>
  <% end %>

  <div class="submitButton">
    <% if f.object.new_record? %>
      <%= image_submit_tag "Submit.png", :alt=>"Create Report" %>
    <% else %>
      <%= image_submit_tag "Submit.png", :alt=>"Update Report" %>
    <% end %>
  </div>
<% end %>
