<div class="page-nav">
  <%= link_to image_tag("edit.png", :alt=>"edit") + " Edit",
    edit_survey_survey_version_report_path(@survey, @survey_version, @report),
    :class=>"manage"
  %>
  <%= link_to "PDF for Report",
    survey_survey_version_pdf_report_path(@survey, @survey_version, @report, :format => :pdf),
    :class => "manage"
  %>
  <%= link_to "Email PDF", '#', :class => 'reportingEmailPdf manage' %>
  <%= link_to "CSV for Report",
    survey_survey_version_report_path(@survey, @survey_version, @report, :format => :csv),
    :class => "manage"
  %>
  <%= link_to "Email CSV", '#', :class => 'reportingEmailCsv manage' %>
  <%= link_to "Set Up Recurring Emails",
    survey_survey_version_report_recurring_reports_path(@survey, @survey_version, @report),
    :class => "manage"
  %>
  <%= link_to "Return to Reporting",
    reporting_survey_survey_version_path(@survey, @survey_version),
    :class=>"manage"
  %>
  <div class='reportingEmailPdfDiv'>
    <%= form_tag email_pdf_survey_survey_version_report_path(@survey, @survey_version, @report) do %>
      <%= label_tag :emails, "Emails for PDF" %>
      <%= text_field_tag :emails, nil, :size => 70 %>
      <%= submit_tag :Submit %>
    <% end %>
  </div>
  <div class='reportingEmailCsvDiv'>
    <%= form_tag email_csv_survey_survey_version_report_path(@survey, @survey_version, @report) do %>
      <%= label_tag :emails, "Emails for CSV" %>
      <%= text_field_tag :emails, nil, :size => 70 %>
      <%= submit_tag :Submit %>
    <% end %>
  </div>
</div>
