<h1>View Report</h1>
<%= flash_messages(flash) %>

<div class="page-nav">
  <%= link_to image_tag("edit.png", :alt=>"edit") + " Edit", edit_survey_survey_version_report_path(@survey, @survey_version), :class=>"manage" %>
  <%= link_to "Return to Reporting", reporting_survey_survey_version_path(@survey, @survey_version), :class=>"manage" %>
</div>

<div id="showpage" class="report-page">
  <div class="left_side">
    Survey:
  </div>
  <div class="right_side">
    <p class="blue"><%= @survey.name.titleize %></p>
  </div>
  <br />
  <div class="left_side">
    Version:
  </div>
  <div class="right_side">
    <p class="version"><%= @survey_version.version_number%></p>
  </div>
  <br />
  <div class="left_side">
    Report Name:
  </div>
  <div class="right_side">
    <p class="version"><%= @report.name %></p>
  </div>
  <br />
  <div class="left_side">
    Start Date:
  </div>
  <div class="right_side">
    <p class="version"><%= @report.start_date_str %></p>
  </div>
  <br />
  <div class="left_side">
    End Date:
  </div>
  <div class="right_side">
    <p class="version"><%= @report.end_date_str %></p>
  </div>
  <br />
</div>

<% if @text_question_reporters.count > 0 %>
  <table>
    <tr>
      <th>Question</th>
      <th>Top Words</th>
    </tr>
    <% @text_question_reporters.each do |tqr| %>
      <tr>
        <td><%= tqr.question %></td>
        <td><%= top_words(tqr)%></td>
    <% end %>
  </table>
<% end %>

<% if @choice_question_reporters.count > 0 %>
  <table>
    <tr>
      <th>Question</th>
      <th>Answers</th>
    </tr>
    <% @choice_question_reporters.each do |cqr| %>
      <tr>
        <td><%= cqr.question %></td>
        <td><%= choice_question_reporter_answers(cqr) %></td>
    <% end %>
  </table>
<% end %>

<div class="page-nav">
  <%= link_to image_tag("edit.png", :alt=>"edit") + " Edit", edit_survey_survey_version_report_path(@survey, @survey_version), :class=>"manage" %>
  <%= link_to "Return to Reporting", reporting_survey_survey_version_path(@survey, @survey_version), :class=>"manage" %>
</div>
