<% unless pdf? %>
  <% javascript 'reporting_show.js' %>
  <h1>View Report</h1>
  <%= flash_messages(flash) %>
  <%= render 'show_page_nav' %>
<% end %>

<div id="showpage" class="report-page">
  <div class="left_side">
    Survey:
  </div>
  <div class="right_side">
    <p class="blue"><%= @survey.name.titleize %></p>
  </div>
  <br />
  <div class="left_side">
    Version:
  </div>
  <div class="right_side">
    <p class="version"><%= @survey_version.version_number%></p>
  </div>
  <br />
  <div class="left_side">
    Report Name:
  </div>
  <div class="right_side">
    <p class="version"><%= @report.name %></p>
  </div>
  <br />
  <div class="left_side">
    Start Date:
  </div>
  <div class="right_side">
    <p class="version"><%= @report.start_date_str %></p>
  </div>
  <br />
  <div class="left_side">
    End Date:
  </div>
  <div class="right_side">
    <p class="version"><%= @report.end_date_str %></p>
  </div>
  <br />
</div>

<% if @report.text_question_reporters.count > 0 %>
  <table>
    <tr>
      <th>Question</th>
      <th>Top Words</th>
    </tr>
    <% @report.text_question_reporters.each do |tqr| %>
      <tr>
        <td><%= tqr.question %></td>
        <td><%= tqr.top_words_str(@report.start_date, @report.end_date) %></td>
    <% end %>
  </table>
<% end %>

<% if @report.choice_question_reporters.count > 0 %>
  <table>
    <tr>
      <th>Question</th>
      <th>Answers</th>
    </tr>
    <% @report.choice_question_reporters.each do |cqr| %>
      <tr>
        <td><%= cqr.question %></td>
        <td><%= cqr.choice_answers_str(@report.start_date, @report.end_date) %></td>
    <% end %>
  </table>
<% end %>

<%= render 'show_page_nav' unless pdf? %>
