<h1>All Images</h1>
<%= flash_messages(flash) %>
<div class="page-nav">
  <%= link_to 'Add New Image', new_image_path, :class => "newlink" %>
</div>

<table id='images_index_table' summary="This table is used for listing images">
  <tr>
    <th scope="col" class='col1'>Image Files</th>
    <th scope="col" class='col2'>Actions</th>
  </tr>
  <% @files.each do |f| %>
    <tr class="<%= cycle('gray', 'white') %>">
      <td class='col1'><%= link_to f, display_images_path(:file=>f) %></td>
      <td class='col2'><%= link_to image_tag("delete.png", :alt=>"Delete"), remove_images_path(:file=>f), :confirm => "Are you sure?", :method => 'delete', :class=>"deleteLink" %></td>
    </tr>
  <% end %>
</table>
<div class="page-nav">
  <%= link_to 'Add New Image', new_image_path, :class => "newlink" %>
</div>