<%= form_tag url_for(:action => "save_file"), :multipart => true %>
<h1> Add New Image</h1>
  <div id="newImage">
    <p class="copyBold">
      <%= label_tag :upload, "Select File: ", :for=>"upload_datafile" %>
      <%= file_field :upload, 'datafile' %>
      <%= submit_tag "Upload" -%>
    </p>
  </div>
</form>

<div class="page-nav">
	<%= link_to "View All Images", images_path, :class=>"cancelLink" %>
</div>
