<div id="navigation">
  <p class="nav">
  <%= link_to "Home", surveys_url, 
    class: nav_link_active_class("surveys", "index"),
    title: "Home"
  %>
  </p>
  |
  <p class="nav">
  <%= link_to "Create New Survey", new_survey_url,
    class: nav_link_active_class("surveys", "new"),
    title: "Create New Survey"
  %>
  </p>
  |
  <p class="nav">
  <%= link_to "View Responses", survey_responses_url,
    class: nav_link_active_class("survey_responses"),
    title: "View Responses"
  %>
  </p>

  <%= manage_users_or_account_link %>

  <% if @current_user.admin? %>
    |
    <p class="nav">
    <%= link_to "Manage Sites", sites_url,
      class: nav_link_active_class("sites"),
      title: "Manage Sites"
    %>
    </p>
    |
    <p class="nav">
      <%= link_to "Manage Organizations", organizations_url,
        class: nav_link_active_class("organizations"),
        title: "Manage Organizations"
      %>
    </p>
  <% end %>


</div>
