<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>HHS VOC Tool Application</title>
  	
  	<%= stylesheet_link_tag :all %>
  	<%= javascript_include_tag :defaults, 'jquery.simplemodal-1.4.1' %>
  	<%= yield :head %>
  	<%= csrf_meta_tag %>
  	
  	<!-- Community Imports -->
	<%= yield :additional_scripts %>
	
	</head>
	<body>
		<%= render :partial => 'layouts/hhs_header' %>

			<!-- begin main content for intranet page -->
				<div class="background">	
					<div class="foreground">
						<% if !current_user.blank? %>
							<div class="navigation">
								<%= render :partial => 'layouts/app_nav' %>
							</div>
						<% end %>
						<div class="contentArea">
							<%= yield %>
						</div>
					</div>
				</div>
			
			<!-- end main content for intranet page -->
		<%= render :partial => 'layouts/hhs_footer' %>

	</body>
</html>
