<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>HHS VOC Tool Application</title>

  	<%= stylesheet_link_tag 'application', 'simplemodal' %>
  	<%= javascript_include_tag :defaults, 'jquery.simplemodal-1.4.1', 'image_swap.js' %>
  	<%= yield :head %>
  	<%= csrf_meta_tag %>

  	<!-- Community Imports -->
	<%= yield :additional_scripts %>

	</head>
	<body>
		<div id="container">
			<%= render :partial => 'layouts/voc_header' %>
			<% if !current_user.blank? %>
				<%= render :partial => 'layouts/navigation' %>
			<% end %>

				<!-- begin main content for intranet page -->
				<div id="content">
					<%= yield %>
				</div>

			<!-- end main content for intranet page -->
			<%= render :partial => 'layouts/voc_footer' %>
		</div>
	</body>
</html>
